.get_started {
  &__main {
    display: flex;
    flex-direction: column;
    align-items: center;
    &_info{
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 48px;
      h5 {
        background: var(--linear);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        margin-bottom: 12px;
      }
      p {
        color: var(--white);
        text-align: center;
        width: 679px;
      }
    }
    &_video {
      position: relative;
      img {
        max-width: 1109px;
        width: 100%;
      }
      .get_started__bg_gradient {
        position: absolute;
        z-index: -5;
        width: 299px;
        height: 554px;
        bottom: 140px;
        transform: rotate(-90deg);
        background: linear-gradient(99deg, rgba(28, 196, 249, 0.80) 0.72%, rgba(254, 105, 254, 0.80) 90.69%);
        filter: blur(105px);
      }
    }
    .get_started__button {
      color: var(--white);
      text-align: center;
      font-size: 14px;
      font-style: normal;
      font-weight: 700;
      line-height: 14px;
      letter-spacing: 1.5px;
      text-transform: uppercase;
      background: var(--linear);
      display: flex;
      align-items: flex-start;
      padding: 18px 38px;
      margin-top: 48px;
    }
  }
}

@media screen and (max-width: 741px) {
  .get_started {
    &__main{
      &_info p{
        font-size: 32px;
        font-weight: 600;
        line-height: 42px;
        max-width: 510px;
        width: 100%;
      }
      &_video {
        margin: 0 20px;
        .get_started__bg_gradient{
          width: 199px;
          height: 284px;
          bottom: 0;
        }
      }
    }
  }
}