.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin: 40px 0 80px 0;
  &__logo {
    display: flex;
    align-items: center;
    max-width: 181px;
    width: 100%;
    &_icon img {
      width: 58px;
    }
    &_name img {
      width: 79px;
      padding-left: 4px;
    }
  }
  .header__nav_menu {
    ul{
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-evenly;
      li{
        margin: 0 60px;
        font-size: 22px;
        font-style: normal;
        font-weight: 300;
        line-height: 28px;
        color: var(--white)
      }
    }
  }
  .header__button {
    padding: 12px 24px;
    border: 1px solid transparent;
    border-image: linear-gradient(#0CBAF1, #E95CE9) 1;
    margin-right: 160px;
    button {
      color: var(--white);
      font-size: 22px;
      font-style: normal;
      font-weight: 300;
      line-height: 28px;
    }
  }
  .hamburger-menu {
    display: none;
    .menu__btn {
      background: linear-gradient(0deg, #252532, #252532);
    }
  }
  .header__vector {
    overflow: hidden;
    position: absolute;
    z-index: -2;
    max-width: 1249px;
    width: 100%;
    opacity: 0.4;
    right: 0;
    top: 0;
  }
}


@media screen and (max-width: 1895px) {
  .header {
    &__nav_menu {
      ul {
        li {
          margin: 0 30px;
          font-size: 22px;
          font-style: normal;
          font-weight: 300;
          line-height: 28px;
          color: var(--white)
        }
      }
    }
  }
}


@media screen and (max-width: 1372px) {
  .header {
    justify-content: space-between;
    margin: 40px 80px 0 80px;
    &__nav{
      display: none;
    }
    &__button {
      display: none;
    }
    .hamburger-menu {
      display: flex;
    }
  }
  .hamburger-menu {
    #menu__toggle {
      opacity: 0;
    }
    #menu__toggle:checked + .menu__btn > span {
      width: 20px;
      transform: rotate(45deg);
    }
    #menu__toggle:checked + .menu__btn > span::before {
      width: 20px;
      top: 0;
      transform: rotate(0deg);
    }
    #menu__toggle:checked + .menu__btn > span::after {
      width: 20px;
      top: 0;
      transform: rotate(90deg);
    }
    #menu__toggle:checked ~ .menu__box {
      display: flex;
      flex-direction: column;
      position: absolute;
      right: 60px;
      top: 20px;
    }
    .menu__btn {
      border: 1px solid transparent;
      border-image: linear-gradient(#0CBAF1, #E95CE9) 1;
      width: 48px;
      height: 48px;
      display: flex;
      position: relative;
      z-index: 5;
      align-items: center;
      justify-content: center;
    }
    .menu__btn > span::before {
      width: 20px;
    }
    .menu__btn > span{
      display: flex;
      justify-content: flex-end;
      width: 14px;
    }
    .menu__btn > span::after{
      width: 8px;
    }
    .menu__btn > span,
    .menu__btn > span::before,
    .menu__btn > span::after {
      position: absolute;
      height: 1px;
      background-color: var(--white);
      transition-duration: .25s;
    }
    .menu__btn > span::before {
      content: '';
      top: -8px;
    }
    .menu__btn > span::after {
      content: '';
      top: 8px;
    }
  }
  .menu__box {
    position: fixed;
    display: none;
    width: 300px;
    padding: 80px 0 10px 0;
    list-style: none;
    background-color: var(--black-50);
    transition-duration: .25s;
    border-radius: 30px;
    height: 420px;
    .menu__item_btn {
      display: flex;
      justify-content: center;
      padding: 8px 8px;
      align-items: flex-start;
      border: 1px solid transparent;
      border-image: linear-gradient(#0CBAF1, #E95CE9) 1;
      width: 180px;
      margin: 40px auto;
      button {
        color: var(--white);
        font-size: 22px;
        font-style: normal;
        font-weight: 300;
        line-height: 28px;
      }
    }
    .menu__box_item {
      margin-left: 16px;
      .menu__item {
        display: block;
        padding: 12px 24px;
        font-size: 22px;
        font-style: normal;
        font-weight: 300;
        line-height: 28px;
        color: var(--white);
        text-decoration: none;
        transition-duration: .25s;
        .menu__item:hover {
          background-color: var(--linear);
        }
      }
    }
  }
}

@media screen and (max-width: 673px) {
  .header {
    margin: 40px 4px 0 4px;
  }
  .hamburger-menu #menu__toggle:checked ~ .menu__box {
      right: 0;
  }
  .menu__box {
    width: 240px;
    margin: 0;
    padding: 60px 0;
    height: 380px;

    .menu__item_btn {
      padding: 6px 6px;
      width: 160px;
      margin: 20px auto;
      button {
        color: var(--white);
        font-size: 18px;
      }
    }
    .menu__box_item {
      margin-left: 16px;
      .menu__item {
        padding: 12px 24px;
        font-size: 18px;
      }
    }
  }
}
