.home_intro__main {
  display: flex;
  flex-direction: row;
  overflow: hidden;
  .home_intro__main_one {
    margin: 87px 135px 0 0;
  }
  .home_intro__main_two {
    position: relative;
    margin-bottom: -4px;
  }
  .home_intro__main_two__bg {
    position: absolute;
    z-index: -3;
    right: 20px;
  }
  .home_intro__main_info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .home_intro__main_title h2{
    color: var(--white);
    max-width: 540px;
    width: 100%;
  }
  .home_intro__main_text {
    color: var(--grey-2);
    max-width: 446px;
    width: 100%;
    margin-top: 12px;
    margin-bottom: 32px;
  }
  .home_intro__button {
    display: flex;
    padding: 18px 36px;
    align-items: flex-start;
    background: var(--linear);
    max-width: 206px;
    width: 100%;
    letter-spacing: 1.5px;
    button {
      font-size: 14px;
      font-style: normal;
      font-weight: 700;
      text-transform: uppercase;
      color: var(--white);
      text-align: center;
    }
  }
  .home_intro__vectors_bg{
    display: none;
    position: absolute;
    z-index: -3;
    left: 0;
    top: 200px;
  }

  .home_intro__clients {
    display: flex;
    margin-top: 43px;
    align-items: center;
  }
  .home_intro__clients_img  {
    display: flex;
    align-items: flex-start;
    margin-left: 12px;
    img {
      margin: -12px;
    }
  }
  .home_intro__clients_text{
    display: flex;
    flex-direction: column;
    margin-left: 28px;
  }
  .home_intro__clients_text_info {
    display: flex;
    flex-direction: row;
    :first-child {
      color: var(--white);
      font-size: 16px;
      font-style: normal;
      font-weight: 600;
      line-height: 28px;
    }
  }
  .home_intro__clients_text_info :last-child {
    color: var(--grey-2);
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 28px;
    padding-left: 5px;
  }
  .home_intro__clients_text_info_elem {
    margin-top: -17px;
    margin-left: -7px;
  }
  .home_intro__clients_video {
    display: flex;
    width: 196px;
    height: 127px;
    flex-shrink: 0;
    background: #21232E;
    margin-left: 75px;
    img {
      margin: 0 auto;
    }
  }
}

@media screen and (max-width: 1972px) {
  .home_intro__main {
    .home_intro__vectors_bg {
      display: flex;
    }
  }
}

@media screen and (max-width: 1372px) {
  .home_intro {
    max-width: 1200px;
    width: 100%;
  }
  .home_intro__main {
    flex-direction: column;
    align-items: center;

    .home_intro__vectors_bg {
      top: 550px;
      max-width: 900px;
      width: 100%;
    }

    .home_intro__main_two__bg {
      top: 0;
      max-width: 400px;
      right: 290px;
      width: 100%;
    }
  }
  .home_intro__main_two__img {
    position: relative;
    max-width: 400px;
    width: 100%;
    left: 120px;
  }
  .home_intro__main .home_intro__clients_video {
    position: relative;
    top: 320px;
    right: 100px;
    z-index: 9;
  }
}
@media screen and (max-width: 1253px) {
  .home_intro__main_two__img {
    max-width: 380px;
  }
  .home_intro__main {
    .home_intro__clients_video {
      top: 320px;
      right: 200px;
    }
  }
}

@media screen and (max-width: 1042px) {
  .home_intro__main_two__img {
    max-width: 340px;
  }
}

@media screen and (max-width: 741px) {
  .home_intro__main {
    .home_intro__main_title h3 {
      font-size: 48px;
    }
  }
  .home_intro__main_two__img {
    position: relative;
    max-width: 300px;
    width: 100%;
  }
  .home_intro__main {
    .home_intro__clients_video {
      position: relative;
      top: 220px;
      right: 290px;
      z-index: 9;
    }
  }
  .home_intro__main .home_intro__main_one {
    margin: 87px 20px 0 40px;
  }
}

@media screen and (max-width: 673px) {
  .home_intro__main {
    .home_intro__main_title h2 {
      font-size: 48px;
    }
    .home_intro__main_two__img {
      max-width: 200px;
    }
    .home_intro__clients {
      position: relative;
    }
    .home_intro__clients_video{
      position: absolute;
      width: 120px;
      height: 80px;
      top: 100px;
      right: 370px;
    }
  }
}

@media screen and (max-width: 558px) {
  .home_intro__main {
    .home_intro__clients_video {
      right: 270px;
    }
  }
}

@media screen and (max-width: 445px) {
  .home_intro__main {
    .home_intro__main_two__img {
      max-width: 200px;
    }
    .home_intro__clients_text_info :first-child {
      font-size: 14px;
    }
    .home_intro__clients_text_info :last-child {
      font-size: 14px;
    }
    .home_intro__clients_video {
      right: 210px;
    }
  }
}

@media screen and (max-width: 378px) {
  .home_intro__main {
    .home_intro__clients_img img {
      width: 41px;
      height: 41px;
      margin: -8px;
    }
    .home_intro__clients_video {
      right: 148px;
    }
  }
}



