.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin: 40px 0 80px 0;
}
.header__logo {
  display: flex;
  align-items: center;
  max-width: 181px;
  width: 100%;
}
.header__logo_icon img {
  width: 58px;
}
.header__logo_name img {
  width: 79px;
  padding-left: 4px;
}
.header .header__nav_menu ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}
.header .header__nav_menu ul li {
  margin: 0 60px;
  font-size: 22px;
  font-style: normal;
  font-weight: 300;
  line-height: 28px;
  color: var(--white);
}
.header .header__button {
  padding: 12px 24px;
  border: 1px solid transparent;
  border-image: linear-gradient(#0CBAF1, #E95CE9) 1;
  margin-right: 160px;
}
.header .header__button button {
  color: var(--white);
  font-size: 22px;
  font-style: normal;
  font-weight: 300;
  line-height: 28px;
}
.header .hamburger-menu {
  display: none;
}
.header .hamburger-menu .menu__btn {
  background: linear-gradient(0deg, #252532, #252532);
}
.header .header__vector {
  overflow: hidden;
  position: absolute;
  z-index: -2;
  max-width: 1249px;
  width: 100%;
  opacity: 0.4;
  right: 0;
  top: 0;
}

@media screen and (max-width: 1895px) {
  .header__nav_menu ul li {
    margin: 0 30px;
    font-size: 22px;
    font-style: normal;
    font-weight: 300;
    line-height: 28px;
    color: var(--white);
  }
}
@media screen and (max-width: 1372px) {
  .header {
    justify-content: space-between;
    margin: 40px 80px 0 80px;
  }
  .header__nav {
    display: none;
  }
  .header__button {
    display: none;
  }
  .header .hamburger-menu {
    display: flex;
  }
  .hamburger-menu #menu__toggle {
    opacity: 0;
  }
  .hamburger-menu #menu__toggle:checked + .menu__btn > span {
    width: 20px;
    transform: rotate(45deg);
  }
  .hamburger-menu #menu__toggle:checked + .menu__btn > span::before {
    width: 20px;
    top: 0;
    transform: rotate(0deg);
  }
  .hamburger-menu #menu__toggle:checked + .menu__btn > span::after {
    width: 20px;
    top: 0;
    transform: rotate(90deg);
  }
  .hamburger-menu #menu__toggle:checked ~ .menu__box {
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 60px;
    top: 20px;
  }
  .hamburger-menu .menu__btn {
    border: 1px solid transparent;
    border-image: linear-gradient(#0CBAF1, #E95CE9) 1;
    width: 48px;
    height: 48px;
    display: flex;
    position: relative;
    z-index: 5;
    align-items: center;
    justify-content: center;
  }
  .hamburger-menu .menu__btn > span::before {
    width: 20px;
  }
  .hamburger-menu .menu__btn > span {
    display: flex;
    justify-content: flex-end;
    width: 14px;
  }
  .hamburger-menu .menu__btn > span::after {
    width: 8px;
  }
  .hamburger-menu .menu__btn > span,
  .hamburger-menu .menu__btn > span::before,
  .hamburger-menu .menu__btn > span::after {
    position: absolute;
    height: 1px;
    background-color: var(--white);
    transition-duration: 0.25s;
  }
  .hamburger-menu .menu__btn > span::before {
    content: "";
    top: -8px;
  }
  .hamburger-menu .menu__btn > span::after {
    content: "";
    top: 8px;
  }
  .menu__box {
    position: fixed;
    display: none;
    width: 300px;
    padding: 80px 0 10px 0;
    list-style: none;
    background-color: var(--black-50);
    transition-duration: 0.25s;
    border-radius: 30px;
    height: 420px;
  }
  .menu__box .menu__item_btn {
    display: flex;
    justify-content: center;
    padding: 8px 8px;
    align-items: flex-start;
    border: 1px solid transparent;
    border-image: linear-gradient(#0CBAF1, #E95CE9) 1;
    width: 180px;
    margin: 40px auto;
  }
  .menu__box .menu__item_btn button {
    color: var(--white);
    font-size: 22px;
    font-style: normal;
    font-weight: 300;
    line-height: 28px;
  }
  .menu__box .menu__box_item {
    margin-left: 16px;
  }
  .menu__box .menu__box_item .menu__item {
    display: block;
    padding: 12px 24px;
    font-size: 22px;
    font-style: normal;
    font-weight: 300;
    line-height: 28px;
    color: var(--white);
    text-decoration: none;
    transition-duration: 0.25s;
  }
  .menu__box .menu__box_item .menu__item .menu__item:hover {
    background-color: var(--linear);
  }
}
@media screen and (max-width: 673px) {
  .header {
    margin: 40px 4px 0 4px;
  }
  .hamburger-menu #menu__toggle:checked ~ .menu__box {
    right: 0;
  }
  .menu__box {
    width: 240px;
    margin: 0;
    padding: 60px 0;
    height: 380px;
  }
  .menu__box .menu__item_btn {
    padding: 6px 6px;
    width: 160px;
    margin: 20px auto;
  }
  .menu__box .menu__item_btn button {
    color: var(--white);
    font-size: 18px;
  }
  .menu__box .menu__box_item {
    margin-left: 16px;
  }
  .menu__box .menu__box_item .menu__item {
    padding: 12px 24px;
    font-size: 18px;
  }
}
.home_intro__main {
  display: flex;
  flex-direction: row;
}
.home_intro__main_one {
  margin: 87px 135px 0 0;
}
.home_intro__main_two {
  position: relative;
  margin-bottom: -4px;
}
.home_intro__main_two__bg {
  position: absolute;
  z-index: -3;
  right: 20px;
}
.home_intro__main_info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.home_intro__main_title h2 {
  color: var(--white);
  max-width: 540px;
  width: 100%;
}
.home_intro__main_text {
  color: var(--grey-2);
  max-width: 446px;
  width: 100%;
  margin-top: 12px;
  margin-bottom: 32px;
}
.home_intro__main .home_intro__button {
  display: flex;
  padding: 18px 36px;
  align-items: flex-start;
  background: var(--linear);
  max-width: 206px;
  width: 100%;
  letter-spacing: 1.5px;
}
.home_intro__main .home_intro__button button {
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--white);
  text-align: center;
}
.home_intro__main .home_intro__vectors_bg {
  display: none;
  position: absolute;
  z-index: -3;
  left: 0;
  top: 200px;
}
.home_intro__main .home_intro__clients {
  display: flex;
  margin-top: 43px;
  margin-bottom: 26px;
  align-items: center;
}
.home_intro__main .home_intro__clients_img {
  display: flex;
  align-items: flex-start;
  margin-left: 12px;
}
.home_intro__main .home_intro__clients_img img {
  margin: -12px;
}
.home_intro__main .home_intro__clients_text {
  display: flex;
  flex-direction: column;
  margin-left: 28px;
}
.home_intro__main .home_intro__clients_text_info {
  display: flex;
  flex-direction: row;
}
.home_intro__main .home_intro__clients_text_info :first-child {
  color: var(--white);
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px;
}
.home_intro__main .home_intro__clients_text_info :last-child {
  color: var(--grey-2);
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 28px;
  padding-left: 5px;
}
.home_intro__main .home_intro__clients_text_info_elem {
  margin-top: -17px;
  margin-left: -7px;
}
.home_intro__main .home_intro__clients_video {
  display: flex;
  width: 196px;
  height: 127px;
  flex-shrink: 0;
  background: #21232E;
  margin-left: 75px;
}
.home_intro__main .home_intro__clients_video img {
  margin: 0 auto;
}

@media screen and (max-width: 1972px) {
  .home_intro__main .home_intro__vectors_bg {
    display: flex;
  }
}
@media screen and (max-width: 1372px) {
  .home_intro {
    max-width: 1200px;
    width: 100%;
  }
  .home_intro__main {
    flex-direction: column;
    align-items: center;
  }
  .home_intro__main .home_intro__vectors_bg {
    top: 550px;
    max-width: 900px;
    width: 100%;
  }
  .home_intro__main_two__img {
    top: 0;
    max-width: 400px;
    right: 290px;
    width: 100%;
  }
  .home_intro_two__img {
    position: relative;
    max-width: 400px;
    width: 100%;
    left: 120px;
  }
  .home_intro .home_intro__main .home_intro__clients_video {
    position: relative;
    top: 320px;
    right: 338px;
    z-index: 9;
  }
}
@media screen and (max-width: 1253px) {
  .home_intro__main_two__img {
    max-width: 380px;
  }
  .home_intro__main .home_intro__clients_video {
    top: 320px;
    right: 200px;
  }
}
@media screen and (max-width: 1042px) {
  .home_intro__main_two__img {
    max-width: 340px;
  }
}
@media screen and (max-width: 741px) {
  .home_intro__main_one {
    margin: 87px 20px 0 40px;
  }
  .home_intro__main_title h3 {
    font-size: 42px;
  }
  .home_intro__main_two__img {
    max-width: 300px;
  }
  .home_intro__main .home_intro__clients_video {
    position: relative;
    top: 220px;
    right: 290px;
    z-index: 9;
  }
}
@media screen and (max-width: 673px) {
  .home_intro .home_intro__main_title h2 {
    font-size: 48px;
  }
  .home_intro .home_intro__main_two__img {
    max-width: 200px;
  }
  .home_intro .home_intro__main .home_intro__clients {
    position: relative;
  }
  .home_intro .home_intro__main .home_intro__clients_video {
    position: absolute;
    width: 120px;
    height: 80px;
    top: 165px;
    right: 370px;
  }
}
@media screen and (max-width: 558px) {
  .home_intro .home_intro__main .home_intro__clients_video {
    right: 180px;
    top: 171px;
  }
}
@media screen and (max-width: 445px) {
  .home_intro__main_one {
    max-width: 320px;
    width: 100%;
  }
  .home_intro__main_two__img {
    max-width: 200px;
  }
  .home_intro__main .home_intro__clients_text_info :first-child {
    font-size: 14px;
  }
  .home_intro__main .home_intro__clients_text_info :last-child {
    font-size: 14px;
  }
  .home_intro__main .home_intro__clients_video {
    right: 210px;
  }
}
@media screen and (max-width: 378px) {
  .home_intro__main .home_intro__clients_img img {
    width: 41px;
    height: 41px;
    margin: -8px;
  }
  .home_intro__main .home_intro__clients_video {
    right: 148px;
  }
}
.about_us__table {
  display: flex;
  flex-direction: row;
  max-width: 1200px;
  width: 100%;
  border: 1px solid #696767;
  background: var(--black-50);
}
.about_us__table__boxes {
  display: flex;
  flex-direction: row;
  gap: 50px;
  margin: 42px 26px 62px 65px;
}
.about_us__table__box {
  max-width: 320px;
  width: 100%;
}
.about_us__table__box img {
  width: 70px;
  height: 70px;
}
.about_us__table__box h6 {
  color: var(--white);
  margin-top: 42px;
  margin-bottom: 14px;
}
.about_us__table__box p {
  color: var(--grey-3);
}

@media screen and (max-width: 1372px) {
  .about_us__table {
    flex-direction: column;
    max-width: 700px;
    width: 100%;
  }
  .about_us__table__boxes {
    flex-direction: column;
    margin: 42px 26px 62px 45px;
  }
  .about_us__table__box {
    max-width: 420px;
    width: 100%;
  }
}
@media screen and (max-width: 741px) {
  .about_us__table {
    max-width: 560px;
    width: 100%;
  }
}
@media screen and (max-width: 673px) {
  .about_us__table {
    max-width: 380px;
    width: 100%;
  }
  .about_us__table__boxes {
    gap: 50px;
    margin: 22px 16px 22px 45px;
  }
}
.about_us {
  margin-top: 200px;
}
.about_us__main {
  display: flex;
  flex-direction: row;
}
.about_us__main__one {
  position: relative;
}
.about_us__bg {
  width: 399px;
  height: 497px;
  background: var(--black-50);
  opacity: 0.5;
  margin-top: 45px;
}
.about_us__bg_elem {
  height: 0;
}
.about_us__bg_elem .about_us__img {
  width: 518px;
  height: 622px;
  position: absolute;
  bottom: 0;
  left: 23px;
  z-index: 4;
}
.about_us__bg_elem .about_us__bg_light {
  width: 600px;
  height: 800px;
  transform: rotate(-90deg);
  filter: blur(105px);
  position: absolute;
  bottom: 0;
  z-index: -1;
}
.about_us__video {
  display: flex;
  align-items: center;
  z-index: 5;
  position: absolute;
  bottom: -29px;
  left: 340px;
  width: 196px;
  height: 128px;
  background: var(--black-50);
}
.about_us__video img {
  width: 130px;
  height: 88px;
  margin: 0 auto;
}
.about_us__main__two {
  margin-left: 180px;
}
.about_us__main__two .about_us__main_info h5 {
  max-width: 98px;
  width: 100%;
}
.about_us__main__two .about_us__main_info_title {
  color: var(--white);
  margin: 12px 0 12px 0;
  max-width: 562px;
  width: 100%;
}
.about_us__main__two .about_us__main_info_text {
  color: var(--grey-2);
  margin-bottom: 24px;
  max-width: 528px;
  width: 100%;
}
.about_us__main__two .about_us__all_points {
  margin-bottom: 32px;
}
.about_us__main__two .about_us__all_points p {
  color: var(--white);
}
.about_us__main__two .about_us__all_points .about_us__point {
  display: flex;
  margin-bottom: 14px;
}
.about_us__main__two .about_us__all_points .about_us__point p {
  margin-left: 12px;
}
.about_us__main__two .about_us__button {
  display: flex;
  padding: 18px 38px;
  align-items: flex-start;
  color: var(--white);
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 14px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  background: var(--linear);
}

@media screen and (max-width: 1253px) {
  .about_us__main {
    flex-direction: column;
    align-items: center;
  }
  .about_us__main__one {
    max-width: 562px;
    width: 100%;
  }
  .about_us__main__two {
    margin: 40px 10px 0 10px;
  }
}
@media screen and (max-width: 1042px) {
  .about_us__bg_elem .about_us__bg_light {
    width: 500px;
    height: 700px;
  }
}
@media screen and (max-width: 741px) {
  .about_us__main {
    margin: 0 12px;
  }
  .about_us__bg_elem .about_us__bg_light {
    width: 400px;
    height: 600px;
  }
  .about_us__video {
    left: 240px;
  }
  .about_us__main_info_title {
    max-width: 398px;
    width: 100%;
    font-size: 32px;
    font-weight: 600;
    line-height: 42px;
  }
  .about_us__main_info_text {
    max-width: 398px;
    width: 100%;
  }
}
@media screen and (max-width: 673px) {
  .about_us__bg {
    width: 299px;
    height: 397px;
  }
  .about_us__bg_elem__img {
    width: 418px;
    height: 522px;
  }
  .about_us__bg_elem__bg_light {
    width: 300px;
    height: 500px;
  }
}
@media screen and (max-width: 558px) {
  .about_us {
    margin-top: 150px;
  }
  .about_us__bg {
    width: 199px;
    height: 297px;
  }
  .about_us__bg_elem .about_us__img {
    width: 318px;
    height: 422px;
  }
  .about_us__bg_elem .about_us__bg_light {
    width: 200px;
    height: 400px;
  }
  .about_us__video {
    left: 110px;
    width: 172px;
    height: 108px;
  }
}
@media screen and (max-width: 445px) {
  .about_us__video {
    left: 90px;
  }
}
@media screen and (max-width: 378px) {
  .about_us__bg {
    width: 79px;
    height: 177px;
  }
  .about_us__bg_elem .about_us__img {
    width: 298px;
    height: 312px;
    left: 0;
  }
  .about_us__bg_elem .about_us__bg_light {
    width: 90px;
    height: 290px;
  }
  .about_us__video {
    left: 30px;
  }
}
.our_service {
  margin-top: 120px;
}
.our_service__main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 1200px;
  width: 100%;
}
.our_service__main_info h5 {
  max-width: 128px;
  width: 100%;
}
.our_service__main_info p {
  color: var(--white);
  margin: 12px 0;
}
.our_service__main_text {
  color: var(--grey-2);
  max-width: 625px;
  width: 100%;
}
.our_service__table {
  display: flex;
  flex-direction: row;
  margin-top: 70px;
}
.our_service__table_left {
  margin-right: 36px;
}
.our_service__table_left_one {
  margin-bottom: 32px;
}
.our_service__table_center {
  margin-top: 48px;
  margin-right: 26px;
}
.our_service__table_center_one {
  margin-bottom: 30px;
}
.our_service__table_right {
  margin-top: 120px;
}
.our_service__table_right_one {
  margin-bottom: 30px;
}
.our_service__table_section {
  position: relative;
  width: 349px;
  height: 291px;
  border: 1px solid #FFF;
  background: rgba(37, 37, 50, 0.6);
}
.our_service__table_section .our_service__table_content {
  margin: 38px 32px 18px 32px;
}
.our_service__table_section h6 {
  color: var(--white);
  margin: 26px 0 12px 0;
}
.our_service__table_section p {
  color: var(--grey-3);
  width: 291px;
}
.our_service__table .shadow {
  transition: all 0.7s ease;
  transform: translate(-50%, 28%);
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 50%;
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 344px;
  height: 112px;
  background-image: linear-gradient(360deg, rgb(37, 37, 50) 20%, rgba(37, 37, 50, 0.9) 70%, rgba(37, 37, 50, 0.6) 80%, transparent 100%);
}
.our_service__table .shadow .our_service__table_btn {
  margin: 0 auto;
  padding: 18px 38px 18px 38px;
  color: var(--white);
  width: 177px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid transparent;
  border-image: linear-gradient(#0CBAF1, #E95CE9) 1;
  position: absolute;
  z-index: 4;
  background: rgba(255, 255, 255, 0.06);
}
.our_service__table .our_service__table_section:hover .shadow {
  opacity: 1;
  transition: all 0.7s ease;
}

@media screen and (max-width: 1253px) {
  .our_service__main {
    flex-direction: column;
    max-width: 562px;
    margin: 0 12px 0 12px;
  }
  .our_service__table {
    flex-direction: column;
    align-items: center;
  }
  .our_service__table_left {
    margin-right: 0;
  }
  .our_service__table_right {
    margin-top: 32px;
  }
  .our_service__table_center {
    margin-top: 32px;
    margin-right: 0;
  }
}
@media screen and (max-width: 741px) {
  .our_service__main_info p {
    max-width: 398px;
    width: 100%;
    font-size: 32px;
    line-height: 42px;
  }
  .our_service__main_text {
    max-width: 398px;
    width: 100%;
  }
}
@media screen and (max-width: 445px) {
  .our_service__main_text {
    max-width: 298px;
    width: 100%;
  }
  .our_service__table_section {
    max-width: 289px;
    width: 100%;
    height: 311px;
  }
  .our_service__table_section .our_service__table_content {
    margin: 28px 36px 20px 22px;
  }
  .our_service__table_section .our_service__table_content p {
    max-width: 270px;
    width: 100%;
  }
  .our_service__table .shadow {
    transform: translate(-50%, 38%);
    width: 286px;
  }
}
.choose_us {
  margin-top: 244px;
  max-width: 1109px;
  width: 100%;
}
.choose_us__main {
  display: flex;
  flex-direction: row;
}
.choose_us__main_one {
  margin-right: 173px;
  max-width: 548px;
  width: 100%;
}
.choose_us__main_one .choose_us__main_info h5 {
  max-width: 160px;
  width: 100%;
}
.choose_us__main_one .choose_us__main_info p {
  color: var(--white);
  max-width: 546px;
  width: 100%;
}
.choose_us__main_one details[open] img {
  transform: rotate(180deg);
}
.choose_us__main_one .choose_us__details {
  max-width: 548px;
  width: 100%;
}
.choose_us__main_one .choose_us__details summary {
  color: var(--white);
  border-bottom: 1px solid rgba(255, 255, 255, 0.35);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 48px;
  list-style: none;
}
.choose_us__main_one .choose_us__details summary::-webkit-details-marker {
  display: none;
}
.choose_us__main_one .choose_us__details p {
  margin-top: 12px;
  color: var(--grey-2);
}
.choose_us__main_two {
  position: relative;
  max-width: 609px;
  width: 100%;
  height: 699px;
}
.choose_us__main_two .choose_us__bg {
  position: absolute;
  z-index: -2;
  width: 399px;
  height: 497px;
  background: var(--black-50);
  opacity: 0.5;
  margin-top: 45px;
}
.choose_us__main_two .choose_us__img {
  position: absolute;
  z-index: 2;
  bottom: 157px;
  left: 0;
  width: 508px;
  height: 612px;
}
.choose_us__main_two .choose_us__video {
  position: absolute;
  z-index: 6;
  bottom: 120px;
  right: 10px;
}
.choose_us__main_two .choose_us__bg_gradient {
  position: absolute;
  z-index: -5;
  width: 365px;
  height: 609px;
  transform: rotate(-90deg);
  background: linear-gradient(99deg, rgba(28, 196, 249, 0.5) 0.72%, rgba(254, 105, 254, 0.5) 90.69%);
  filter: blur(105px);
}

@media screen and (max-width: 1253px) {
  .choose_us {
    margin-top: 104px;
    height: 1228px;
  }
  .choose_us__main {
    flex-direction: column;
    align-items: center;
    margin: 0 10px;
  }
  .choose_us__main_one {
    margin: 0 auto;
  }
  .choose_us__main_two {
    margin-top: 160px;
    display: flex;
    justify-content: center;
  }
  .choose_us__main_two .choose_us__img {
    left: 100px;
  }
  .choose_us__main_two .choose_us__video {
    right: 60px;
  }
}
@media screen and (max-width: 741px) {
  .choose_us {
    height: 1028px;
  }
  .choose_us__main_info p {
    font-size: 32px;
    font-weight: 600;
    line-height: 42px;
  }
  .choose_us__main_two {
    margin-top: 140px;
  }
  .choose_us__main_two .choose_us__bg {
    width: 299px;
    height: 397px;
    left: 90px;
  }
  .choose_us__main_two .choose_us__img {
    width: 463px;
    height: 525px;
    bottom: 257px;
    right: 98px;
  }
  .choose_us__main_two .choose_us__video {
    bottom: 210px;
    left: 280px;
  }
  .choose_us__main_two .choose_us__bg_gradient {
    width: 265px;
    height: 509px;
    left: 120px;
  }
}
@media screen and (max-width: 673px) {
  .choose_us {
    height: 928px;
  }
  .choose_us__main_two {
    max-width: 473px;
  }
  .choose_us__main_two .choose_us__bg {
    width: 239px;
    height: 337px;
    left: 90px;
  }
  .choose_us__main_two .choose_us__img {
    width: 383px;
    height: 445px;
    bottom: 317px;
    left: 18px;
  }
  .choose_us__main_two .choose_us__video {
    bottom: 280px;
    width: 162px;
    height: 98px;
    left: 210px;
  }
  .choose_us__main_two .choose_us__bg_gradient {
    width: 165px;
    height: 449px;
    left: 110px;
  }
}
@media screen and (max-width: 445px) {
  .choose_us__main_two {
    margin-top: 80px;
    max-width: 373px;
  }
  .choose_us__main_two .choose_us__bg {
    width: 189px;
    height: 277px;
    left: 90px;
    top: 64px;
  }
  .choose_us__main_two .choose_us__img {
    width: 313px;
    height: 375px;
    left: 29px;
  }
  .choose_us__main_two .choose_us__video {
    width: 162px;
    height: 98px;
    left: 160px;
  }
  .choose_us__main_two .choose_us__bg_gradient {
    height: 179px;
    width: 179px;
    top: 90px;
    left: 70px;
  }
}
@media screen and (max-width: 378px) {
  .choose_us {
    height: 798px;
  }
  .choose_us__main_two {
    max-width: 273px;
    margin-top: 50px;
  }
  .choose_us__main_two .choose_us__bg {
    width: 169px;
    height: 227px;
    left: 30px;
    top: 20px;
  }
  .choose_us__main_two .choose_us__img {
    width: 243px;
    height: 275px;
    bottom: 408px;
    left: 9px;
  }
  .choose_us__main_two .choose_us__video {
    bottom: 360px;
    width: 162px;
    height: 98px;
    left: 80px;
  }
  .choose_us__main_two .choose_us__bg_gradient {
    left: 40px;
  }
}
.get_started__main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.get_started__main_info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 48px;
}
.get_started__main_info h5 {
  background: var(--linear);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 12px;
}
.get_started__main_info p {
  color: var(--white);
  text-align: center;
  width: 679px;
}
.get_started__main_video {
  position: relative;
}
.get_started__main_video img {
  max-width: 1109px;
  width: 100%;
}
.get_started__main_video .get_started__bg_gradient {
  position: absolute;
  z-index: -5;
  width: 299px;
  height: 554px;
  bottom: 140px;
  transform: rotate(-90deg);
  background: linear-gradient(99deg, rgba(28, 196, 249, 0.8) 0.72%, rgba(254, 105, 254, 0.8) 90.69%);
  filter: blur(105px);
}
.get_started__main .get_started__button {
  color: var(--white);
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 14px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  background: var(--linear);
  display: flex;
  align-items: flex-start;
  padding: 18px 38px;
  margin-top: 48px;
}

@media screen and (max-width: 741px) {
  .get_started__main_info p {
    font-size: 32px;
    font-weight: 600;
    line-height: 42px;
    max-width: 510px;
    width: 100%;
  }
  .get_started__main_video {
    margin: 0 20px;
  }
  .get_started__main_video .get_started__bg_gradient {
    width: 199px;
    height: 284px;
    bottom: 0;
  }
}
.cicle_opinions {
  max-width: 1170px;
  width: 100%;
}
.cicle_opinions__main {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
  margin-bottom: 60px;
}
.cicle_opinions__main_info {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  z-index: 5;
  top: 230px;
}
.cicle_opinions__main_info h5 {
  margin-bottom: 12px;
}
.cicle_opinions__main_info p {
  color: var(--white);
  text-align: center;
}
.cicle_opinions__main .cicle_one {
  border: 1px solid rgba(255, 255, 255, 0.17);
  display: flex;
  align-items: center;
  margin: 30px;
  position: relative;
}
.cicle_opinions__main .person_elem {
  position: absolute;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 123px;
  z-index: 5;
}
.cicle_opinions__main .cicle_opinions__person_one {
  top: 297px;
  left: 23px;
}
.cicle_opinions__main .cicle_opinions__person_two {
  bottom: 99px;
  left: 934px;
}
.cicle_opinions__main .cicle_opinions__person_three {
  bottom: 74px;
  left: 115px;
}
.cicle_opinions__main .cicle_opinions__person_four {
  top: 332px;
  left: 758px;
}
.cicle_opinions__main .cicle_opinions__person_five {
  top: 2px;
  left: 463px;
}
.cicle_opinions__main .cicle_opinions__person_six {
  bottom: -35px;
  left: 94px;
}
.cicle_opinions__main .cicle_opinions__person {
  background-image: var(--bg-icon);
  background-repeat: no-repeat;
  transition: all 0.6s ease;
  width: 75px;
  height: 75px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.cicle_opinions__main .cicle_opinions__person_main_info {
  opacity: 0;
  background-image: var(--bg-for-text);
  background-repeat: no-repeat;
  width: 0;
  height: 0;
  margin-left: 15px;
}
.cicle_opinions__main .cicle_opinions__person_main_info .cicle_opinions__person_info {
  margin: 16px 10px 5px 26px;
}
.cicle_opinions__main .cicle_opinions__person_main_info .cicle_opinions__person_info .cicle_opinions__person_text {
  color: var(--grey-2);
  width: 255px;
}
.cicle_opinions__main .cicle_opinions__person_main_info .cicle_opinions__person_info .cicle_opinions__person_details {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid;
  width: 134px;
  border-image: var(--linear) 1;
}
.cicle_opinions__main .cicle_opinions__person_main_info .cicle_opinions__person_info .cicle_opinions__person_details p {
  font-size: 12px;
  font-weight: 400;
  line-height: 24px;
  color: var(--white);
}
.cicle_opinions__main .cicle_opinions__person_main_info .cicle_opinions__person_info .cicle_opinions__person_details :last-child {
  color: var(--grey-2);
}
.cicle_opinions__main .person_elem:hover .cicle_opinions__person_main_info {
  opacity: 1;
  width: 282px;
  height: 123px;
  transition: opacity 1s;
}
.cicle_opinions__main .person_elem:hover .cicle_opinions__person {
  background-image: var(--bg-icon-active);
  background-repeat: no-repeat;
  transition: all 0.6s ease;
}
.cicle_opinions__main .cicle_opinions__cicle_one {
  border-radius: 1147px;
  width: 1147px;
  height: 1147px;
}
.cicle_opinions__main .cicle_opinions__cicle_two {
  border-radius: 984px;
  width: 984px;
  height: 984px;
  margin: 82px 81px 81px 82px;
}
.cicle_opinions__main .cicle_opinions__cicle_three {
  border-radius: 799px;
  width: 799px;
  height: 799px;
  margin: 92px 92px 93px 93px;
}
.cicle_opinions__main .cicle_opinions__cicle_four {
  border-radius: 636.102px;
  width: 636px;
  height: 636px;
  margin: 86px 87px 86px 85px;
}
.cicle_opinions__main .cicle_opinions__cicle_five {
  border-radius: 465px;
  width: 465px;
  height: 465px;
  margin: 82px 83px 82px 82px;
}
.cicle_opinions__main .cicle_opinions__cicle_six {
  width: 289px;
  height: 289px;
  border-radius: 289px;
  border: 1px solid rgba(255, 255, 255, 0.17);
  background: #333751;
  margin: 88px 86px 87px 89px;
  position: relative;
}
.cicle_opinions__main .cicle_opinions__cicle_six .cicle_opinions__big_img {
  width: 743px;
  height: 483px;
}
.cicle_opinions__main .cicle_opinions__cicle_six .cicle_opinions__big_img img {
  max-width: 810px;
  position: relative;
  right: 230px;
  bottom: 30px;
}

@media screen and (max-width: 1253px) {
  .cicle_opinions {
    overflow: hidden;
  }
  .cicle_opinions__main_info {
    top: 130px;
  }
  .cicle_opinions__main .cicle_opinions__person_main_info {
    background-size: 380px 182px;
  }
  .cicle_opinions__main .cicle_opinions__person_main_info .cicle_opinions__person_info {
    margin-top: 26px;
  }
  .cicle_opinions__main .cicle_opinions__person_main_info .cicle_opinions__person_info .cicle_opinions__person_text {
    width: 152px;
  }
  .cicle_opinions__main .person_elem:hover .cicle_opinions__person_main_info {
    width: 186px;
    height: 200px;
  }
  .cicle_opinions__main .cicle_opinions__person_one {
    top: 177px;
    left: 183px;
  }
  .cicle_opinions__main .cicle_opinions__person_two {
    top: 858px;
    left: 739px;
  }
  .cicle_opinions__main .cicle_opinions__person_three {
    top: 860px;
    left: 215px;
  }
  .cicle_opinions__main .cicle_opinions__person_four {
    top: 452px;
    left: 639px;
  }
}
@media screen and (max-width: 1042px) {
  .cicle_opinions {
    margin-top: 64px;
  }
  .cicle_opinions__main_info {
    top: 0;
    margin-bottom: 20px;
  }
  .cicle_opinions__main .cicle_opinions__person_main_info {
    background-size: 450px 252px;
    margin-left: 8px;
  }
  .cicle_opinions__main .cicle_opinions__person_main_info .cicle_opinions__person_info {
    margin-top: 38px;
    margin-left: 30px;
  }
  .cicle_opinions__main .cicle_opinions__person_main_info .cicle_opinions__person_info .cicle_opinions__person_text {
    width: 132px;
  }
  .cicle_opinions__main .person_elem:hover .cicle_opinions__person_main_info {
    width: 174px;
    height: 253px;
  }
  .cicle_opinions__main .cicle_opinions__person_one {
    top: -52px;
    left: 453px;
  }
  .cicle_opinions__main .cicle_opinions__person_two {
    top: 901px;
    left: 476px;
  }
  .cicle_opinions__main .cicle_opinions__person_three {
    top: 989px;
    left: 337px;
  }
  .cicle_opinions__main .cicle_opinions__person_four {
    top: 107px;
    left: 287px;
  }
  .cicle_opinions__main .cicle_opinions__person_five {
    top: -127px;
    left: 166px;
  }
  .cicle_opinions__main .cicle_opinions__person_six {
    top: 316px;
    left: 19px;
  }
}
@media screen and (max-width: 741px) {
  .cicle_opinions__main_info p {
    font-size: 32px;
    font-weight: 600;
    line-height: 42px;
    max-width: 324px;
    width: 100%;
  }
  .cicle_opinions__main .cicle_opinions__person_six {
    top: 376px;
    left: 95px;
  }
}
@media screen and (max-width: 445px) {
  .cicle_opinions__main .cicle_opinions__person_three {
    top: 989px;
    left: 337px;
  }
  .cicle_opinions__main .cicle_opinions__person_four {
    top: 111px;
    left: 279px;
  }
  .cicle_opinions__main .cicle_opinions__person_five {
    top: -119px;
    left: 163px;
  }
  .cicle_opinions__main .cicle_opinions__person_six {
    top: 376px;
    left: 95px;
  }
}
.our_pricing {
  margin: 95px 0 95px 0;
}
.our_pricing__main_info h5 {
  width: 130px;
  margin-bottom: 12px;
}
.our_pricing__main_info_title {
  color: var(--white);
  margin-bottom: 12px;
}
.our_pricing__main_info_text {
  color: var(--grey-2);
  max-width: 625px;
  width: 100%;
  margin-bottom: 36px;
}
.our_pricing__table {
  display: flex;
  max-width: 1109px;
  width: 100%;
  background: linear-gradient(0deg, rgba(37, 37, 50, 0.81), rgba(37, 37, 50, 0.81)), linear-gradient(94.92deg, rgba(255, 255, 255, 0.3) -0.29%, rgba(255, 255, 255, 0) 100%);
  border: 2px solid;
  border-image-source: linear-gradient(94.92deg, rgba(255, 255, 255, 0.3) -0.29%, rgba(255, 255, 255, 0) 100%);
}
.our_pricing__table_main {
  margin: 60px 60px 30px 50px;
}
.our_pricing__table_main .our_pricing__table_info {
  display: flex;
  justify-content: space-between;
  width: 640px;
  margin-bottom: 28px;
}
.our_pricing__table_main .our_pricing__table_info h6 {
  color: var(--white);
  margin-bottom: 10px;
}
.our_pricing__table_main .our_pricing__table_info p {
  color: var(--grey-1);
  width: 582px;
}
.our_pricing__table_line {
  height: 447px;
  opacity: 10%;
  border: 1px solid var(--white);
  margin-top: 50px;
}
.our_pricing__offer {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  top: 414px;
  right: 44px;
  width: 321px;
  height: 222px;
  border: 1px solid;
  border-image: linear-gradient(90deg, #0CBAF1 0%, #E95CE9 100%) 1;
  background: linear-gradient(0deg, #252532, #252532), linear-gradient(90deg, #0CBAF1 0%, #E95CE9 100%);
}
.our_pricing__offer_title {
  color: var(--grey-2);
  margin-top: 16px;
}
.our_pricing__offer_price {
  color: var(--white);
  font-size: 60px;
  font-weight: 600;
  line-height: 66px;
  letter-spacing: 0;
  text-align: left;
}
.our_pricing__offer_button {
  margin: 14px 0 16px 0;
  color: var(--white);
  text-transform: uppercase;
  padding: 18px 34px;
  font-size: 14px;
  font-weight: 700;
  line-height: 14px;
  letter-spacing: 1.5px;
  text-align: center;
  background: var(--linear);
}
.our_pricing__offer_details {
  color: var(--grey-1);
}

@media screen and (max-width: 1253px) {
  .our_pricing__main {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .our_pricing__main_info {
    display: flex;
    flex-direction: column;
  }
  .our_pricing__table {
    max-width: 1014px;
  }
}
@media screen and (max-width: 1042px) {
  .our_pricing__main_info {
    max-width: 625px;
    width: 100%;
  }
  .our_pricing__table {
    flex-direction: column;
    max-width: 700px;
  }
  .our_pricing__table_main {
    margin-left: 25px;
  }
  .our_pricing__table_line {
    height: 0;
    width: 630px;
    margin: 0 auto;
  }
  .our_pricing__offer {
    top: 83px;
    left: 17px;
  }
}
@media screen and (max-width: 741px) {
  .our_pricing__main_info {
    max-width: 490px;
  }
  .our_pricing__main_info_title {
    font-size: 32px;
    font-weight: 600;
    line-height: 42px;
  }
  .our_pricing__table {
    max-width: 500px;
  }
  .our_pricing__table_main {
    margin-left: 25px;
  }
  .our_pricing__table_main .our_pricing__table_info {
    max-width: 380px;
    width: 100%;
  }
  .our_pricing__table_main .our_pricing__table_info p {
    max-width: 320px;
    width: 100%;
  }
  .our_pricing__table_line {
    width: 430px;
  }
}
@media screen and (max-width: 673px) {
  .our_pricing {
    margin-left: 12px;
    margin-right: 12px;
  }
  .our_pricing__main_info {
    max-width: 426px;
  }
  .our_pricing__table {
    max-width: 390px;
  }
  .our_pricing__table_main {
    margin-left: 15px;
    margin-right: 25px;
  }
  .our_pricing__table_main .our_pricing__table_info {
    max-width: 280px;
    width: 100%;
  }
  .our_pricing__table_main .our_pricing__table_info p {
    max-width: 220px;
    width: 100%;
  }
  .our_pricing__table_line {
    width: 330px;
  }
}
@media screen and (max-width: 445px) {
  .our_pricingmain_info {
    max-width: 326px;
    margin-left: 12px;
    margin-right: 12px;
  }
  .our_pricing__table {
    max-width: 310px;
  }
  .our_pricing__table_main {
    margin-left: 15px;
    margin-right: 25px;
  }
  .our_pricing__table_main .our_pricing__table_info {
    max-width: 280px;
    width: 100%;
  }
  .our_pricing__table_main .our_pricing__table_info p {
    max-width: 220px;
    width: 100%;
  }
  .our_pricing__table_line {
    width: 240px;
  }
  .our_pricing__offer {
    width: 231px;
    height: 222px;
  }
}
.our_partners {
  margin-top: 100px;
  position: relative;
  height: 1180px;
}
.our_partners__main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.our_partners__main_info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 68px;
}
.our_partners__main_info h5 {
  margin-bottom: 12px;
}
.our_partners__main_info p {
  color: var(--white);
  margin-bottom: 12px;
}
.our_partners__main .our_partners__partners {
  position: absolute;
  z-index: 9;
  top: 200px;
  max-width: 1200px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.our_partners__main .our_partners__partners_bg {
  background-image: var(--bg-icon);
  background-repeat: no-repeat;
  background-size: contain;
  transition: all 0.6s ease;
  width: 102px;
  height: 102px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.our_partners__main .our_partners__partners_bg img {
  width: 72px;
}
.our_partners__main .our_partners__partners .our_partners__two {
  display: flex;
  width: 628px;
  justify-content: space-between;
  margin-bottom: 50px;
}
.our_partners__main .our_partners__partners .our_partners__three {
  display: flex;
  width: 820px;
  justify-content: space-between;
  margin-bottom: 50px;
}
.our_partners__main .our_partners__partners .our_partners__four {
  display: flex;
  width: 916px;
  justify-content: space-between;
}
.our_partners__main .our_partners__cicle {
  width: 947px;
  height: 947px;
}
.our_partners__main .our_partners__cicle .cicle_partners {
  border: 1px solid rgba(255, 255, 255, 0.17);
  display: flex;
  align-items: center;
}
.our_partners__main .our_partners__cicle_one {
  border-radius: 1147px;
  width: 947px;
  height: 947px;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.our_partners__main .our_partners__cicle_two {
  border-radius: 984px;
  background-image: linear-gradient(var(--black-100), var(--black-100)), linear-gradient(90deg, #0CBAF1 0%, rgba(233, 92, 233, 0.98) 100%);
  background-origin: border-box;
  background-clip: content-box, border-box;
  width: 784px;
  height: 784px;
  margin: 82px 81px 81px 82px;
}
.our_partners__main .our_partners__cicle_three {
  border-radius: 799px 799px 0 0;
  -moz-border-radius-bottomleft: 300px;
  width: 599px;
  height: 599px;
  margin: 92px 92px 93px 93px;
}
.our_partners__main .our_partners__cicle_four {
  border-radius: 636px;
  width: 436px;
  height: 436px;
  margin: 86px 87px 86px 85px;
  display: flex;
  flex-direction: column;
}
.our_partners__main .our_partners__cicle .our_partners__big_img img {
  width: 928px;
  position: relative;
  bottom: 94px;
  left: 29px;
  z-index: 3;
}
.our_partners .our_partners__bg_style {
  background: linear-gradient(rgba(24, 24, 27, 0), rgb(24, 24, 27), rgb(24, 24, 27), rgb(24, 24, 27), rgb(24, 24, 27), rgb(24, 24, 27), rgb(24, 24, 27), rgb(24, 24, 27));
  max-width: 1200px;
  width: 100%;
  height: 596px;
  border-radius: 50px 50px 0 0;
  position: absolute;
  bottom: 0;
}

@media screen and (max-width: 1253px) {
  .our_partners {
    height: 980px;
  }
  .our_partners__main_info {
    max-width: 490px;
    width: 100%;
  }
  .our_partners__main_info p {
    font-size: 32px;
    font-weight: 600;
    line-height: 42px;
    text-align: center;
  }
  .our_partners__main .our_partners__partners {
    top: 232px;
  }
  .our_partners__main .our_partners__partners_bg {
    width: 92px;
    height: 92px;
  }
  .our_partners__main .our_partners__partners_bg img {
    width: 69px;
  }
  .our_partners__main .our_partners__partners .our_partners__two {
    width: 439px;
    position: relative;
    bottom: 32px;
  }
  .our_partners__main .our_partners__partners .our_partners__three {
    width: 626px;
    margin-bottom: 34px;
    position: relative;
    bottom: 44px;
  }
  .our_partners__main .our_partners__partners .our_partners__four {
    width: 720px;
    position: relative;
    bottom: 47px;
  }
  .our_partners__main .our_partners__cicle {
    width: 747px;
    height: 747px;
  }
  .our_partners__main .our_partners__cicle_one {
    width: 747px;
    height: 747px;
  }
  .our_partners__main .our_partners__cicle_two {
    width: 584px;
    height: 584px;
  }
  .our_partners__main .our_partners__cicle_three {
    width: 399px;
    height: 399px;
  }
  .our_partners__main .our_partners__cicle_four {
    width: 236px;
    height: 236px;
  }
  .our_partners__main .our_partners__cicle .our_partners__big_img img {
    width: 728px;
    bottom: 94px;
    left: 29px;
  }
  .our_partners .our_partners__bg_style {
    height: 496px;
  }
}
@media screen and (max-width: 741px) {
  .our_partners {
    height: 780px;
  }
  .our_partners__main .our_partners__partners {
    top: 232px;
  }
  .our_partners__main .our_partners__partners_bg {
    width: 80px;
    height: 80px;
  }
  .our_partners__main .our_partners__partners_bg img {
    width: 62px;
  }
  .our_partners__main .our_partners__partners .our_partners__two {
    width: 299px;
    margin-bottom: 24px;
  }
  .our_partners__main .our_partners__partners .our_partners__three {
    width: 435px;
    margin-bottom: 20px;
  }
  .our_partners__main .our_partners__partners .our_partners__four {
    width: 492px;
    bottom: 47px;
  }
  .our_partners__main .our_partners__cicle {
    width: 547px;
    height: 547px;
  }
  .our_partners__main .our_partners__cicle_one {
    width: 547px;
    height: 547px;
  }
  .our_partners__main .our_partners__cicle_two {
    width: 384px;
    height: 384px;
  }
  .our_partners__main .our_partners__cicle_three {
    width: 229px;
    height: 229px;
  }
  .our_partners__main .our_partners__cicle_four {
    width: 36px;
    height: 36px;
  }
  .our_partners__main .our_partners__cicle .our_partners__big_img img {
    width: 378px;
    bottom: 94px;
    left: 15px;
  }
  .our_partners .our_partners__bg_style {
    max-width: 800px;
    height: 306px;
  }
}
@media screen and (max-width: 558px) {
  .our_partners {
    height: 600px;
  }
  .our_partners__main .our_partners__partners {
    top: 202px;
  }
  .our_partners__main .our_partners__partners_bg {
    width: 68px;
    height: 68px;
  }
  .our_partners__main .our_partners__partners_bg img {
    width: 57px;
  }
  .our_partners__main .our_partners__partners .our_partners__two {
    width: 260px;
    margin-bottom: 16px;
  }
  .our_partners__main .our_partners__partners .our_partners__three {
    width: 372px;
    margin-bottom: 20px;
  }
  .our_partners__main .our_partners__partners .our_partners__four {
    width: 398px;
    bottom: 47px;
  }
  .our_partners__main .our_partners__cicle {
    width: 397px;
    height: 397px;
  }
  .our_partners__main .our_partners__cicle_one {
    width: 397px;
    height: 397px;
  }
  .our_partners__main .our_partners__cicle_two {
    width: 234px;
    height: 234px;
  }
  .our_partners__main .our_partners__cicle_three {
    width: 79px;
    height: 79px;
  }
  .our_partners__main .our_partners__cicle_four {
    width: 0;
    height: 0;
  }
  .our_partners__main .our_partners__cicle .our_partners__big_img img {
    width: 377px;
    bottom: 96px;
    left: -52px;
  }
  .our_partners .our_partners__bg_style {
    max-width: 380px;
    height: 216px;
  }
}
@media screen and (max-width: 445px) {
  .our_partners {
    height: 510px;
  }
  .our_partners__main .our_partners__partners {
    top: 162px;
  }
  .our_partners__main .our_partners__partners_bg {
    width: 58px;
    height: 58px;
  }
  .our_partners__main .our_partners__partners_bg img {
    width: 47px;
  }
  .our_partners__main .our_partners__partners .our_partners__two {
    width: 217px;
    margin-bottom: 21px;
  }
  .our_partners__main .our_partners__partners .our_partners__three {
    width: 298px;
    margin-bottom: 14px;
  }
  .our_partners__main .our_partners__partners .our_partners__four {
    width: 322px;
    bottom: 37px;
  }
  .our_partners__main .our_partners__cicle {
    width: 254px;
    height: 254px;
  }
  .our_partners__main .our_partners__cicle_one {
    width: 254px;
    height: 254px;
    background-image: linear-gradient(var(--black-100), var(--black-100)), linear-gradient(90deg, #0CBAF1 0%, rgba(233, 92, 233, 0.98) 100%);
    background-origin: border-box;
    background-clip: content-box, border-box;
  }
  .our_partners__main .our_partners__cicle_two, .our_partners__main .our_partners__cicle_three, .our_partners__main .our_partners__cicle_four {
    width: 0;
    height: 0;
  }
  .our_partners__main .our_partners__cicle .our_partners__big_img img {
    width: 297px;
    bottom: 96px;
    left: -168px;
  }
  .our_partners .our_partners__bg_style {
    height: 186px;
  }
}
@media screen and (max-width: 380px) {
  .our_partners {
    height: 550px;
  }
  .our_partners__main .our_partners__partners {
    top: 212px;
  }
  .our_partners__main .our_partners__partners_bg {
    width: 50px;
    height: 50px;
  }
  .our_partners__main .our_partners__partners_bg_bg img {
    width: 44px;
  }
  .our_partners__main .our_partners__partners_bg .our_partners__two {
    width: 175px;
    margin-bottom: 0;
  }
  .our_partners__main .our_partners__partners_bg .our_partners__three {
    width: 260px;
    margin-bottom: 0;
  }
  .our_partners__main .our_partners__partners_bg .our_partners__four {
    width: 291px;
  }
  .our_partners__main .our_partners__partners .our_partners__bg_style {
    height: 186px;
  }
}
.our_articles {
  max-width: 1109px;
  width: 100%;
}
.our_articles__main_one {
  display: flex;
  align-items: center;
  margin-bottom: 140px;
}
.our_articles__main_info h5 {
  width: 143px;
  margin-bottom: 12px;
}
.our_articles__main_info p {
  max-width: 882px;
  width: 100%;
  color: var(--white);
}
.our_articles__main_button {
  margin-left: 210px;
  width: 148px;
  height: 50px;
  display: flex;
  align-items: flex-start;
  border: 1px solid transparent;
  border-image: linear-gradient(#0CBAF1, #E95CE9) 1;
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.06), rgba(255, 255, 255, 0.06));
}
.our_articles__main_button button {
  color: var(--white);
  text-transform: uppercase;
  font-style: normal;
  font-size: 14px;
  font-weight: 700;
  line-height: 14px;
  letter-spacing: 1.5px;
  text-align: center;
  padding: 17px 33px;
}
.our_articles__main_two {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  position: relative;
}
.our_articles__main_carousel {
  z-index: 5;
}
.our_articles__main_carousel h6 {
  color: var(--white);
  max-width: 203px;
  width: 100%;
  margin-bottom: 32px;
}
.our_articles__main_carousel .our_articles__carousel_content {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 0 0 24px 24px;
  color: var(--white);
  background-image: var(--bg-our-articles-carousel);
  background-repeat: no-repeat;
  width: 636px;
  height: 425px;
}
.our_articles__main_carousel .our_articles__carousel_content_title {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 96px;
  height: 24px;
  border-radius: 16px;
  background: rgba(255, 255, 255, 0.3019607843);
}
.our_articles__main_carousel .our_articles__carousel_content_title p {
  padding: 8px 10px 8px 10px;
}
.our_articles__main_carousel .our_articles__carousel_content_text p {
  color: var(--white);
  max-width: 509px;
  width: 100%;
}
.our_articles__main_carousel .our_articles__carousel_arrow {
  position: absolute;
  z-index: 5;
  bottom: 53px;
  right: 21px;
  width: 50px;
  height: 50px;
  padding: 15px;
  border: 1px solid transparent;
  border-image: linear-gradient(90deg, #0CBAF1 0%, #E95CE9 100%) 1;
  background-image: linear-gradient(0deg, rgba(255, 255, 255, 0.06), rgba(255, 255, 255, 0.06));
}
.our_articles__scroll {
  position: relative;
  z-index: 1;
  right: 34px;
  bottom: 49px;
  width: 750px;
  height: 605px;
  background: linear-gradient(0deg, #252532, #252532), linear-gradient(94.92deg, rgba(255, 255, 255, 0.3) -0.29%, rgba(255, 255, 255, 0) 100%);
  border: 1px solid;
  border-image-source: linear-gradient(94.92deg, rgba(255, 255, 255, 0.3) -0.29%, rgba(255, 255, 255, 0) 100%);
  display: flex;
  flex-direction: column;
}
.our_articles__scroll_main {
  margin: 30px 0 0 90px;
}
.our_articles__scroll_title {
  max-width: 196px;
  width: 100%;
  color: var(--white);
  margin-bottom: 16px;
}
.our_articles__scroll_list {
  width: 573px;
  height: 504px;
  overflow: auto;
}
.our_articles__scroll ::-webkit-scrollbar {
  width: 2px;
  height: 474px;
  border-radius: 32px;
}
.our_articles__scroll ::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.1215686275);
}
.our_articles__scroll ::-webkit-scrollbar-thumb {
  background: #FFFFFF;
  width: 2px;
  height: 31px;
}
.our_articles__scroll_item {
  max-width: 513px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 34px 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1490196078);
}
.our_articles__scroll_item .our_articles__scroll_img {
  width: 142px;
  height: 91px;
}
.our_articles__scroll_item .our_articles__scroll_info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 297px;
}
.our_articles__scroll_item .our_articles__scroll_info p:first-child {
  padding: 2px 10px 2px 10px;
  margin-bottom: 9px;
  border-radius: 16px;
  background: rgba(255, 255, 255, 0.3019607843);
  color: var(--white);
}
.our_articles__scroll_item .our_articles__scroll_info p:last-child {
  color: var(--white);
  width: 297px;
  -webkit-line-clamp: 3;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.our_articles__scroll_item .our_articles__scroll_btn button {
  width: 40px;
  height: 40px;
  padding: 10px;
  border: 1px solid transparent;
  border-image: linear-gradient(90deg, #0CBAF1 0%, #E95CE9 100%) 1;
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.06), rgba(255, 255, 255, 0.06));
}
.our_articles .slick-slider {
  width: 636px;
  height: 425px;
}
.our_articles .ant-carousel .slick-dots {
  position: relative;
  margin-top: 42px;
}

@media screen and (max-width: 1253px) {
  .our_articles {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 12px;
    margin-right: 12px;
  }
  .our_articles__main_one {
    display: flex;
    margin: 40px 10px;
    flex-direction: column;
    align-items: center;
    max-width: 750px;
    width: 100%;
  }
  .our_articles__main_one .our_articles__main_button {
    margin: 30px 0;
  }
  .our_articles__main_two {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 750px;
    width: 100%;
  }
  .our_articles .our_articles__main_carousel {
    max-width: 636px;
    width: 100%;
  }
  .our_articles__scroll {
    right: 0;
    bottom: 0;
    margin-top: 84px;
    max-width: 636px;
    width: 100%;
  }
  .our_articles__scroll_list {
    width: 544px;
  }
}
@media screen and (max-width: 741px) {
  .our_articles {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 12px;
    margin-right: 12px;
  }
  .our_articles__main_one .our_articles__main_info p {
    font-size: 32px;
  }
  .our_articles__main_two {
    max-width: 650px;
  }
  .our_articles .our_articles__main_carousel {
    max-width: 536px;
  }
  .our_articles .our_articles__carousel_content_text {
    max-width: 436px;
    width: 100%;
  }
  .our_articles__scroll {
    max-width: 560px;
    margin-left: 23px;
  }
  .our_articles__scroll_main {
    margin: 30px 0 0 14px;
  }
  .our_articles .slick-slider {
    width: 560px;
    height: 430px;
  }
}
@media screen and (max-width: 673px) {
  .our_articles__main_two {
    align-items: flex-start;
  }
  .our_articles .our_articles__main_carousel {
    margin: 0 auto;
    max-width: 480px;
  }
  .our_articles .our_articles__main_carousel .our_articles__carousel_arrow {
    bottom: 85px;
    right: 18px;
  }
  .our_articles .our_articles__carousel_content {
    background-position: center center;
    background-size: 100% auto;
    max-width: 480px;
    width: 100%;
    height: 322px;
  }
  .our_articles .our_articles__carousel_content_text {
    max-width: 406px;
  }
  .our_articles .our_articles__carousel_content_text p {
    font-size: 28px;
  }
  .our_articles__scroll {
    max-width: 480px;
    margin: 38px auto;
  }
  .our_articles__scroll_list {
    width: 462px;
  }
  .our_articles__scroll_img img {
    width: 142px;
  }
  .our_articles__scroll_item {
    max-width: 430px;
  }
  .our_articles__scroll_item_img {
    width: 118px;
  }
  .our_articles__scroll_item .our_articles__scroll_info {
    width: 225px;
    margin-left: 8px;
  }
  .our_articles__scroll_item .our_articles__scroll_info p:last-child {
    width: 225px;
  }
  .our_articles__scroll_btn {
    margin: auto;
  }
  .our_articles .slick-slider {
    width: 480px;
    height: 369px;
  }
}
@media screen and (max-width: 558px) {
  .our_articles .our_articles__main_carousel {
    max-width: 412px;
  }
  .our_articles .our_articles__main_carousel .our_articles__carousel_arrow {
    bottom: 97px;
    right: 23px;
    width: 48px;
    height: 48px;
  }
  .our_articles .our_articles__main_carousel h6 {
    margin-bottom: 0;
  }
  .our_articles .our_articles__carousel_content_text {
    max-width: 290px;
    width: 100%;
    margin-bottom: 12px;
  }
  .our_articles .our_articles__carousel_content_text p {
    font-size: 22px;
  }
  .our_articles__scroll {
    max-width: 412px;
  }
  .our_articles__scroll_list {
    width: 395px;
  }
  .our_articles__scroll_item {
    max-width: 380px;
  }
  .our_articles__scroll_item .our_articles__scroll_info p:last-child {
    width: 173px;
  }
  .our_articles .ant-carousel .slick-dots {
    margin-top: 16px;
  }
  .our_articles .slick-slider {
    width: 412px;
    height: 369px;
  }
}
@media screen and (max-width: 445px) {
  .our_articles .our_articles__main_carousel {
    max-width: 322px;
  }
  .our_articles .our_articles__carousel_content {
    padding-left: 14px;
    padding-bottom: 42px;
  }
  .our_articles .our_articles__carousel_content_text {
    max-width: 290px;
    width: 100%;
    margin-bottom: 12px;
  }
  .our_articles .our_articles__carousel_content_text p {
    max-width: 234px;
    line-height: 29px;
    font-size: 18px;
  }
  .our_articles__scroll {
    max-width: 322px;
  }
  .our_articles__scroll_list {
    width: 306px;
  }
  .our_articles__scroll_img img {
    width: 120px;
  }
  .our_articles__scroll_item {
    max-width: 286px;
  }
  .our_articles__scroll_item .our_articles__scroll_info p:last-child {
    font-size: 16px;
    width: 123px;
  }
  .our_articles .ant-carousel .slick-dots {
    margin-top: 0;
  }
  .our_articles .slick-slider {
    width: 322px;
    height: 329px;
  }
}
@media screen and (max-width: 378px) {
  .our_articles .our_articles__main_carousel {
    max-width: 280px;
  }
  .our_articles .our_articles__carousel_content_text {
    max-width: 290px;
    width: 100%;
    margin-bottom: 29px;
  }
  .our_articles .our_articles__carousel_content_text p {
    max-width: 204px;
    line-height: 29px;
    font-size: 16px;
  }
  .our_articles__scroll {
    max-width: 280px;
  }
  .our_articles__scroll_main {
    margin-left: 7px;
  }
  .our_articles__scroll_list {
    width: 271px;
  }
  .our_articles__scroll_img img {
    width: 110px;
  }
  .our_articles__scroll_item {
    max-width: 259px;
  }
  .our_articles__scroll_item .our_articles__scroll_info p:first-child {
    font-size: 11px;
  }
  .our_articles__scroll_item .our_articles__scroll_info p:last-child {
    font-size: 15px;
    width: 100px;
  }
  .our_articles .ant-carousel .slick-dots {
    margin-top: -30px;
  }
  .our_articles .slick-slider {
    width: 280px;
    height: 315px;
  }
}
.footer {
  max-width: 1109px;
  width: 100%;
}
.footer__banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1109px;
  height: 185px;
  border-radius: 4px;
  background-image: linear-gradient(90deg, #0CBAF1 0%, #E95CE9 100%);
  padding: 0 70px;
  margin: 100px auto;
}
.footer__banner p {
  max-width: 590px;
  width: 100%;
  color: var(--white);
}
.footer__banner .footer__subscribe_input {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 365px;
  height: 56px;
  border-radius: 2px;
  background: rgba(255, 255, 255, 0.0705882353);
}
.footer__banner .footer__subscribe_input_main {
  display: flex;
  align-items: center;
  flex-direction: row;
  margin-left: 14px;
}
.footer__banner .footer__subscribe_input_main ::placeholder {
  color: var(--white);
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
}
.footer__banner .footer__subscribe_input_main input {
  color: var(--white);
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  padding: 2px 0 0 12px;
  width: 214px;
}
.footer__banner .footer__subscribe_input_main input :focus {
  outline: none;
}
.footer__banner .footer__subscribe_input .footer__subscribe_button {
  width: 49px;
  height: 49px;
  padding: 16px;
  background: rgba(255, 255, 255, 0.2117647059);
}
.footer__main {
  display: flex;
  flex-direction: column;
}
.footer__main_info {
  display: flex;
  flex-direction: row;
  margin-bottom: 60px;
}
.footer__main_info__icons {
  display: flex;
  flex-direction: column;
  margin-right: 110px;
}
.footer__main_info__icons_group {
  display: flex;
  flex-direction: row;
  gap: 20px;
  margin-top: 148px;
  width: 244px;
}
.footer__main_info__icons_group div {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: var(--bg-icon-footer);
  width: 46px;
  height: 46px;
}
.footer__main_info__links {
  display: flex;
  flex-direction: column;
  margin-right: 110px;
  max-width: 135px;
  width: 100%;
}
.footer__main_info__links p {
  width: 89px;
  color: var(--white);
}
.footer__main_info__links a {
  padding-top: 20px;
  color: var(--white);
  font-size: 16px;
  font-weight: 300;
  line-height: 28px;
  letter-spacing: 0;
}
.footer__main_info .footer__main_info__help {
  margin-right: 0;
  max-width: 236px;
  width: 100%;
}
.footer__main_info .footer__main_info__help a {
  display: flex;
  align-items: center;
}
.footer__main_info .footer__main_info__help a img {
  padding-right: 10px;
}
.footer__main .footer__copyright {
  max-width: 1109px;
  width: 100%;
  border-top: 1px solid transparent;
  border-image: linear-gradient(90deg, #0CBAF1 0%, #E95CE9 100%) 1;
  display: flex;
  justify-content: center;
  padding: 30px 0;
}
.footer__main .footer__copyright p {
  color: var(--white);
}

@media screen and (max-width: 1253px) {
  .footer__banner p {
    font-size: 38px;
    max-width: 506px;
  }
}
@media screen and (max-width: 1042px) {
  .footer__banner p {
    font-size: 26px;
    max-width: 348px;
    margin-bottom: 10px;
  }
  .footer__main {
    max-width: 573px;
    width: 100%;
    margin: 0 auto;
  }
  .footer__main_info {
    flex-direction: column;
  }
  .footer__main_info__two_links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .footer__main_info__two_links div {
    margin: 0;
  }
  .footer__main_info__icons {
    margin-right: 0;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 50px;
  }
  .footer__main_info__icons_group {
    margin-top: 0;
  }
  .footer__main .footer__main_info__help {
    margin: 0 auto;
  }
}
@media screen and (max-width: 741px) {
  .footer__banner {
    flex-direction: column;
    justify-content: center;
    height: 229px;
    padding: 0 23px;
  }
  .footer__banner p {
    text-align: center;
    line-height: 44px;
  }
}
@media screen and (max-width: 445px) {
  .footer__banner {
    margin-bottom: 100px;
  }
  .footer__banner p {
    font-size: 23px;
  }
  .footer__banner .footer__subscribe_input {
    width: 304px;
  }
  .footer__main_info__icons {
    flex-direction: column;
  }
  .footer__main_info__icons_group {
    margin-top: 20px;
  }
  .footer__main_info__two_links {
    justify-content: space-around;
  }
}
@media screen and (max-width: 378px) {
  .footer__banner .footer__subscribe_input {
    width: 271px;
  }
  .footer__banner .footer__subscribe_input .footer__subscribe_input_main input {
    width: 181px;
  }
}

/*# sourceMappingURL=main.css.map */
