@charset "UTF-8";
.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin: 40px 0 80px 0;
}
.header .header__logo {
  display: flex;
  align-items: center;
  max-width: 181px;
  width: 100%;
}
.header .header__logo .header__logo_icon img {
  width: 58px;
}
.header .header__logo .header__logo_name img {
  width: 79px;
  padding-left: 4px;
}
.header .header__nav_menu ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}
.header .header__nav_menu ul li {
  margin: 0 60px;
  font-size: 22px;
  font-style: normal;
  font-weight: 300;
  line-height: 28px;
  color: var(--white);
}
.header .header__button {
  padding: 12px 24px;
  border: 1px solid transparent;
  border-image: linear-gradient(#0CBAF1, #E95CE9) 1;
  margin-right: 160px;
}
.header .header__button button {
  color: var(--white);
  font-size: 22px;
  font-style: normal;
  font-weight: 300;
  line-height: 28px;
}
.header .hamburger-menu {
  display: none;
}
.header .hamburger-menu .menu__btn {
  background: linear-gradient(0deg, #252532, #252532);
}
.header .header__vector {
  overflow: hidden;
  position: absolute;
  z-index: -2;
  max-width: 1249px;
  width: 100%;
  opacity: 0.4;
  right: 0;
  top: 0;
}

@media screen and (max-width: 1895px) {
  .header .header__nav_menu ul li {
    margin: 0 30px;
    font-size: 22px;
    font-style: normal;
    font-weight: 300;
    line-height: 28px;
    color: var(--white);
  }
}
@media screen and (max-width: 1372px) {
  .header {
    justify-content: space-between;
    margin: 40px 80px 0 80px;
  }
  .header .header__nav {
    display: none;
  }
  .header .header__button {
    display: none;
  }
  .header .hamburger-menu {
    display: flex;
  }
  .hamburger-menu #menu__toggle {
    opacity: 0;
  }
  .hamburger-menu #menu__toggle:checked + .menu__btn > span {
    width: 20px;
    transform: rotate(45deg);
  }
  .hamburger-menu #menu__toggle:checked + .menu__btn > span::before {
    width: 20px;
    top: 0;
    transform: rotate(0deg);
  }
  .hamburger-menu #menu__toggle:checked + .menu__btn > span::after {
    width: 20px;
    top: 0;
    transform: rotate(90deg);
  }
  .hamburger-menu #menu__toggle:checked ~ .menu__box {
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 60px;
    top: 20px;
  }
  .hamburger-menu .menu__btn {
    border: 1px solid transparent;
    border-image: linear-gradient(#0CBAF1, #E95CE9) 1;
    width: 48px;
    height: 48px;
    display: flex;
    position: relative;
    z-index: 5;
    align-items: center;
    justify-content: center;
  }
  .hamburger-menu .menu__btn > span::before {
    width: 20px;
  }
  .hamburger-menu .menu__btn > span {
    display: flex;
    justify-content: flex-end;
    width: 14px;
  }
  .hamburger-menu .menu__btn > span::after {
    width: 8px;
  }
  .hamburger-menu .menu__btn > span,
  .hamburger-menu .menu__btn > span::before,
  .hamburger-menu .menu__btn > span::after {
    position: absolute;
    height: 1px;
    background-color: var(--white);
    transition-duration: 0.25s;
  }
  .hamburger-menu .menu__btn > span::before {
    content: "";
    top: -8px;
  }
  .hamburger-menu .menu__btn > span::after {
    content: "";
    top: 8px;
  }
  .menu__box {
    position: fixed;
    display: none;
    width: 300px;
    padding: 80px 0 10px 0;
    list-style: none;
    background-color: var(--black-50);
    transition-duration: 0.25s;
    border-radius: 30px;
    height: 420px;
  }
  .menu__box .menu__item_btn {
    display: flex;
    justify-content: center;
    padding: 8px 8px;
    align-items: flex-start;
    border: 1px solid transparent;
    border-image: linear-gradient(#0CBAF1, #E95CE9) 1;
    width: 180px;
    margin: 40px auto;
  }
  .menu__box .menu__item_btn button {
    color: var(--white);
    font-size: 22px;
    font-style: normal;
    font-weight: 300;
    line-height: 28px;
  }
  .menu__box .menu__box_item {
    margin-left: 16px;
  }
  .menu__box .menu__box_item .menu__item {
    display: block;
    padding: 12px 24px;
    font-size: 22px;
    font-style: normal;
    font-weight: 300;
    line-height: 28px;
    color: var(--white);
    text-decoration: none;
    transition-duration: 0.25s;
  }
  .menu__box .menu__box_item .menu__item .menu__item:hover {
    background-color: var(--linear);
  }
}
@media screen and (max-width: 673px) {
  .header {
    margin: 40px 4px 0 4px;
  }
  .hamburger-menu #menu__toggle:checked ~ .menu__box {
    right: 0;
  }
  .menu__box {
    width: 240px;
    margin: 0;
    padding: 60px 0;
    height: 380px;
  }
  .menu__box .menu__item_btn {
    padding: 6px 6px;
    width: 160px;
    margin: 20px auto;
  }
  .menu__box .menu__item_btn button {
    color: var(--white);
    font-size: 18px;
  }
  .menu__box .menu__box_item {
    margin-left: 16px;
  }
  .menu__box .menu__box_item .menu__item {
    padding: 12px 24px;
    font-size: 18px;
  }
}
.home_intro__main {
  display: flex;
  flex-direction: row;
  overflow: hidden;
}
.home_intro__main .home_intro__main_one {
  margin: 87px 135px 0 0;
}
.home_intro__main .home_intro__main_two {
  position: relative;
  margin-bottom: -4px;
}
.home_intro__main .home_intro__main_two__bg {
  position: absolute;
  z-index: -3;
  right: 20px;
}
.home_intro__main .home_intro__main_info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.home_intro__main .home_intro__main_title h3 {
  color: var(--white);
  font-size: 64px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.32px;
  max-width: 540px;
  width: 100%;
}
.home_intro__main .home_intro__main_text {
  color: var(--grey-2);
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 28px;
  max-width: 446px;
  width: 100%;
  margin-top: 12px;
  margin-bottom: 32px;
}
.home_intro__main .home_intro__button {
  display: flex;
  padding: 18px 36px;
  align-items: flex-start;
  background: var(--linear);
  max-width: 206px;
  width: 100%;
  letter-spacing: 1.5px;
}
.home_intro__main .home_intro__button button {
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--white);
  text-align: center;
}
.home_intro__main .home_intro__vectors_bg {
  display: none;
  position: absolute;
  z-index: -3;
  left: 0;
  top: 200px;
}
.home_intro__main .home_intro__clients {
  display: flex;
  margin-top: 43px;
  align-items: center;
}
.home_intro__main .home_intro__clients_img {
  display: flex;
  align-items: flex-start;
  margin-left: 12px;
}
.home_intro__main .home_intro__clients_img img {
  margin: -12px;
}
.home_intro__main .home_intro__clients_text {
  display: flex;
  flex-direction: column;
  margin-left: 28px;
}
.home_intro__main .home_intro__clients_text_info {
  display: flex;
  flex-direction: row;
}
.home_intro__main .home_intro__clients_text_info :first-child {
  color: var(--white);
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px;
}
.home_intro__main .home_intro__clients_text_info :last-child {
  color: var(--grey-2);
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 28px;
  padding-left: 5px;
}
.home_intro__main .home_intro__clients_text_info_elem {
  margin-top: -17px;
  margin-left: -7px;
}
.home_intro__main .home_intro__clients_video {
  display: flex;
  width: 196px;
  height: 127.936px;
  flex-shrink: 0;
  background: #21232E;
  margin-left: 75px;
}
.home_intro__main .home_intro__clients_video img {
  margin: 0 auto;
}

@media screen and (max-width: 1972px) {
  .home_intro__main .home_intro__vectors_bg {
    display: flex;
  }
}
@media screen and (max-width: 1372px) {
  .home_intro {
    max-width: 1200px;
    width: 100%;
  }
  .home_intro__main {
    flex-direction: column;
    align-items: center;
  }
  .home_intro__main .home_intro__vectors_bg {
    top: 550px;
    max-width: 900px;
    width: 100%;
  }
  .home_intro__main .home_intro__main_two__bg {
    top: 0;
    max-width: 400px;
    right: 290px;
    width: 100%;
  }
  .home_intro__main_two__img {
    position: relative;
    max-width: 400px;
    width: 100%;
    left: 120px;
  }
  .home_intro__main .home_intro__clients_video {
    position: relative;
    top: 320px;
    right: 100px;
    z-index: 9;
  }
}
@media screen and (max-width: 1253px) {
  .home_intro__main_two__img {
    max-width: 380px;
  }
  .home_intro__main .home_intro__clients_video {
    top: 320px;
    right: 200px;
  }
}
@media screen and (max-width: 1042px) {
  .home_intro__main_two__img {
    max-width: 340px;
  }
}
@media screen and (max-width: 741px) {
  .home_intro__main .home_intro__main_title h3 {
    font-size: 48px;
  }
  .home_intro__main_two__img {
    position: relative;
    max-width: 300px;
    width: 100%;
  }
  .home_intro__main .home_intro__clients_video {
    position: relative;
    top: 220px;
    right: 290px;
    z-index: 9;
  }
  .home_intro__main .home_intro__main_one {
    margin: 87px 20px 0 40px;
  }
}
@media screen and (max-width: 673px) {
  .home_intro__main .home_intro__main_title h3 {
    font-size: 48px;
  }
  .home_intro__main .home_intro__main_two__img {
    max-width: 200px;
  }
  .home_intro__main .home_intro__clients {
    position: relative;
  }
  .home_intro__main .home_intro__clients_video {
    position: absolute;
    width: 120px;
    height: 80px;
    top: 100px;
    right: 370px;
  }
}
@media screen and (max-width: 558px) {
  .home_intro__main .home_intro__clients_video {
    right: 270px;
  }
}
@media screen and (max-width: 445px) {
  .home_intro__main .home_intro__main_two__img {
    max-width: 200px;
  }
  .home_intro__main .home_intro__clients_text_info :first-child {
    font-size: 14px;
  }
  .home_intro__main .home_intro__clients_text_info :last-child {
    font-size: 14px;
  }
  .home_intro__main .home_intro__clients_video {
    right: 210px;
  }
}
@media screen and (max-width: 378px) {
  .home_intro__main .home_intro__clients_img img {
    width: 41px;
    height: 41px;
    margin: -8px;
  }
  .home_intro__main .home_intro__clients_video {
    right: 148px;
  }
}
.about_us__table {
  display: flex;
  flex-direction: row;
  max-width: 1200px;
  width: 100%;
  border: 1px solid #696767;
  background: var(--black-50);
}

.about_us__table__boxes {
  display: flex;
  flex-direction: row;
  gap: 50px;
  margin: 42px 26px 62px 65px;
}

.about_us__table__table_box {
  max-width: 320px;
  width: 100%;
}
.about_us__table__table_box img {
  width: 70px;
  height: 70px;
}
.about_us__table__table_box h4 {
  color: var(--white);
  /* Heading/Heading 7 */
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 42px;
  margin-bottom: 14px;
}
.about_us__table__table_box p {
  color: #B0B0B2;
  /* Body/Body 2 */
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 200% */
}

@media screen and (max-width: 1372px) {
  .about_us__table {
    max-width: 700px;
    width: 100%;
  }
  .about_us__table {
    flex-direction: column;
  }
  .about_us__table .about_us__table__boxes {
    flex-direction: column;
  }
  .about_us__table__table_box {
    max-width: 420px;
    width: 100%;
  }
}
@media screen and (max-width: 741px) {
  .about_us__table {
    max-width: 560px;
    width: 100%;
  }
}
@media screen and (max-width: 673px) {
  .home_intro__main .home_intro__main_title h3 {
    font-size: 48px;
  }
  .about_us__table__boxes {
    display: flex;
    flex-direction: row;
    gap: 50px;
    margin: 22px 16px 22px 45px;
  }
  .about_us__table {
    max-width: 380px;
    width: 100%;
  }
}
.about_us {
  margin-top: 200px;
}

.about_us__main {
  display: flex;
  flex-direction: row;
}

.about_us__main__one {
  position: relative;
}

.about_us__main__two {
  margin-left: 180px;
}

.about_us__img {
  width: 517.976px;
  height: 622px;
  position: absolute;
  bottom: 0;
  left: 23px;
  z-index: 4;
}

.about_us__bg {
  width: 398.938px;
  height: 496.528px;
  background: var(--black-50);
  opacity: 0.5;
  margin-top: 45px;
}

.about_us__bg_elem {
  height: 0;
}

.about_us__bg_light {
  width: 600px;
  height: 800px;
  transform: rotate(-90deg);
  filter: blur(105px);
  position: absolute;
  bottom: 225px;
  z-index: -1;
}

.about_us__video {
  display: flex;
  align-items: center;
  z-index: 5;
  position: absolute;
  bottom: -29px;
  left: 340px;
  width: 196px;
  height: 127.936px;
  background: var(--black-50);
}
.about_us__video img {
  width: 130px;
  height: 88px;
  margin: 0 auto;
}

.about_us__main_info h5 {
  max-width: 98px;
  width: 100%;
  /* Caption/Caption 1 */
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 2.24px;
  text-transform: uppercase;
  background: var(--linear);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.about_us__main_info .about_us__main_info_title {
  color: var(--white);
  margin: 12px 0 12px 0;
  /* Heading/Heading 2 */
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: 58px; /* 120.833% */
  letter-spacing: -0.24px;
  width: 562px;
}
.about_us__main_info .about_us__main_info_text {
  color: var(--Greyscale-Grey-2, #D1D1D1);
  margin-bottom: 24px;
  /* Body/Body 1 */
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 28px; /* 175% */
  width: 528px;
}

.about_us__all_points p {
  color: var(--white);
  /* Body/Body 3 */
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 175% */
}
.about_us__all_points .about_us__point {
  display: flex;
}

.about_us__button {
  display: flex;
  padding: 18px 38px;
  align-items: flex-start;
  color: var(--Greyscale-White, #FFF);
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 14px; /* 100% */
  letter-spacing: 1.5px;
  text-transform: uppercase;
  background: var(--Main-Colors-Linear, linear-gradient(90deg, #0CBAF1 0%, #E95CE9 100%));
}

.about_us__all_points {
  margin-bottom: 32px;
}
.about_us__all_points .about_us__point {
  margin-bottom: 14px;
}
.about_us__all_points .about_us__point p {
  margin-left: 12px;
}

@media screen and (max-width: 1253px) {
  .about_us__main {
    flex-direction: column;
    align-items: center;
  }
  .about_us__main .about_us__main__one {
    max-width: 562px;
    width: 100%;
  }
  .about_us__main__two {
    margin: 40px 10px 0 10px;
  }
}
@media screen and (max-width: 1042px) {
  .about_us__bg_light {
    width: 500px;
    height: 700px;
  }
}
@media screen and (max-width: 741px) {
  .about_us__bg_light {
    width: 400px;
    height: 600px;
  }
  .about_us__video {
    left: 240px;
  }
  .about_us__main_info .about_us__main_info_title {
    max-width: 398px;
    width: 100%;
    font-size: 32px;
    font-weight: 600;
    line-height: 42px;
    letter-spacing: -0.005em;
    text-align: left;
  }
  .about_us__main_info .about_us__main_info_text {
    max-width: 398px;
    width: 100%;
  }
}
@media screen and (max-width: 673px) {
  .about_us__img {
    width: 417.976px;
    height: 522px;
  }
  .about_us__bg {
    width: 298.938px;
    height: 396.528px;
  }
  .about_us__bg_light {
    width: 300px;
    height: 500px;
  }
}
@media screen and (max-width: 558px) {
  .about_us {
    margin-top: 150px;
  }
  .about_us__img {
    width: 317.976px;
    height: 422px;
  }
  .about_us__bg {
    width: 198.938px;
    height: 296.528px;
  }
  .about_us__bg_light {
    width: 200px;
    height: 400px;
  }
  .about_us__video {
    left: 110px;
    width: 172px;
    height: 107.936px;
  }
}
@media screen and (max-width: 445px) {
  .about_us__video {
    left: 90px;
  }
}
@media screen and (max-width: 378px) {
  .about_us__img {
    width: 297.976px;
    height: 312px;
    left: 0;
  }
  .about_us__bg {
    width: 78.938px;
    height: 176.528px;
  }
  .about_us__bg_light {
    width: 90px;
    height: 290px;
  }
  .about_us__video {
    left: 30px;
  }
}
.our_service {
  margin-top: 120px;
}

.our_service__main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 1200px;
  width: 100%;
}

.our_service__main_info h5 {
  max-width: 128px;
  width: 100%;
  background: var(--Main-Colors-Linear, linear-gradient(90deg, #0CBAF1 0%, #E95CE9 100%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  /* Caption/Caption 1 */
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 2.24px;
  text-transform: uppercase;
}
.our_service__main_info p {
  color: var(--Greyscale-White, #FFF);
  margin: 12px 0;
  /* Heading/Heading 2 */
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: 58px; /* 120.833% */
  letter-spacing: -0.24px;
}

.our_service__main_text {
  color: var(--Greyscale-Grey-2, #D1D1D1);
  max-width: 625px;
  width: 100%;
  /* Body/Body 1 */
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 28px; /* 175% */
}

.our_service__table {
  display: flex;
  flex-direction: row;
  margin-top: 70px;
}
.our_service__table .our_service__blocks_left {
  margin-right: 36px;
}
.our_service__table .our_service__blocks_left :last-child {
  margin-top: 32px;
}
.our_service__table .our_service__blocks_center {
  margin-top: 48px;
  margin-right: 26px;
}
.our_service__table .our_service__blocks_center :first-child {
  margin-bottom: 30px;
}
.our_service__table .our_service__blocks_right {
  margin-top: 120px;
}
.our_service__table .our_service__blocks_right :first-child {
  margin-bottom: 30px;
}
.our_service__table .our_service__table_section {
  width: 349px;
  height: 291px;
  border: 1px solid #FFF;
  background: rgba(37, 37, 50, 0.6);
}
.our_service__table .our_service__table_section .our_service__table_content {
  margin: 38px 56px 0 32px;
}
.our_service__table .our_service__table_section h6 {
  color: var(--white);
  margin: 26px 0 12px 0;
  /* Heading/Heading 7 */
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.our_service__table .our_service__table_section p {
  color: var(--Greyscale-Grey-1, #B0B0B2);
  width: 291px;
  /* Body/Body 2 */
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 200% */
}

@media screen and (max-width: 1253px) {
  .our_service__main {
    flex-direction: column;
    max-width: 562px;
    margin: 0 12px 0 12px;
  }
  .our_service__table {
    flex-direction: column;
    align-items: center;
  }
  .our_service__table .our_service__blocks_left {
    margin-right: 0;
  }
  .our_service__table .our_service__blocks_right {
    margin-top: 32px;
  }
  .our_service__table .our_service__blocks_center {
    margin-top: 32px;
    margin-right: 0;
  }
}
@media screen and (max-width: 741px) {
  .our_service__main_info p {
    max-width: 398px;
    width: 100%;
    font-size: 32px;
    font-weight: 600;
    line-height: 42px;
    letter-spacing: -0.005em;
    text-align: left;
  }
  .our_service__main_text {
    max-width: 398px;
    width: 100%;
  }
}
@media screen and (max-width: 445px) {
  .our_service__main_text {
    max-width: 298px;
    width: 100%;
  }
  .our_service__table .our_service__table_section {
    max-width: 289px;
    width: 100%;
    height: 311px;
  }
  .our_service__table .our_service__table_section .our_service__table_content {
    margin: 28px 36px 20px 22px;
  }
  .our_service__table .our_service__table_section .our_service__table_content p {
    max-width: 270px;
    width: 100%;
  }
}
.choose_us {
  margin-top: 244px;
}

.choose_us__main_one {
  margin-right: 173px;
}

.choose_us__main {
  display: flex;
  flex-direction: row;
  height: 580px;
}

.choose_us__main_info h5 {
  background: var(--Main-Colors-Linear, linear-gradient(90deg, #0CBAF1 0%, #E95CE9 100%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  /* Caption/Caption 1 */
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 2.24px;
  text-transform: uppercase;
}
.choose_us__main_info p {
  color: var(--white);
  width: 546px;
  /* Heading/Heading 2 */
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: 58px; /* 120.833% */
  letter-spacing: -0.24px;
}

details[open] img {
  transform: rotate(180deg);
}

.choose_us__details {
  width: 548px;
}
.choose_us__details summary {
  color: var(--white);
  border-bottom: 1px solid rgba(255, 255, 255, 0.35);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 48px;
  /* Heading/Heading 8 */
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.choose_us__details summary {
  list-style: none;
}
.choose_us__details summary::-webkit-details-marker {
  display: none;
}
.choose_us__details p {
  margin-top: 12px;
  color: var(--grey-2);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 175% */
}

.choose_us__img {
  position: relative;
  z-index: 2;
  bottom: 120px;
  right: 60px;
}

.choose_us__video {
  position: relative;
  z-index: 6;
  bottom: 230px;
  left: 230px;
}

.choose_us__bg_gradient {
  position: relative;
  bottom: 650px;
  z-index: -5;
  width: 364.621px;
  height: 608.059px;
  transform: rotate(-90deg);
  flex-shrink: 0;
  background: linear-gradient(99deg, rgba(28, 196, 249, 0.5) 0.72%, rgba(254, 105, 254, 0.5) 90.69%);
  filter: blur(105px);
}

.choose_us__bg {
  position: absolute;
  z-index: -2;
  width: 398.938px;
  height: 496.528px;
  background: var(--black-50);
  opacity: 0.5;
  margin-top: 45px;
}

.get_started {
  margin-top: 150px;
}
.get_started .get_started__main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.get_started .get_started__bg_gradient {
  position: relative;
  z-index: -5;
  top: 430px;
  right: 170px;
  width: 199px;
  height: 454px;
  transform: rotate(-90deg);
  background: linear-gradient(99deg, rgba(28, 196, 249, 0.8) 0.72%, rgba(254, 105, 254, 0.8) 90.69%);
  filter: blur(105px);
}
.get_started .get_started__main_info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 48px;
}
.get_started .get_started__main_info h5 {
  background: var(--Main-Colors-Linear, linear-gradient(90deg, #0CBAF1 0%, #E95CE9 100%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 12px;
  /* Caption/Caption 1 */
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 2.24px;
  text-transform: uppercase;
}
.get_started .get_started__main_info p {
  color: var(--white);
  text-align: center;
  width: 679px;
  /* Heading/Heading 2 */
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: 58px; /* 120.833% */
  letter-spacing: -0.24px;
}

.get_started__button {
  color: var(--white);
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 14px; /* 100% */
  letter-spacing: 1.5px;
  text-transform: uppercase;
  background: var(--Main-Colors-Linear, linear-gradient(90deg, #0CBAF1 0%, #E95CE9 100%));
  display: flex;
  padding: 18px 38px;
  margin-top: 48px;
  align-items: flex-start;
}

.cicle_opinions__main {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
}
.cicle_opinions__main .cicle_opinions__main_info {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  z-index: 5;
  top: 230px;
}
.cicle_opinions__main .cicle_opinions__main_info h5 {
  background: var(--Main-Colors-Linear, linear-gradient(90deg, #0CBAF1 0%, #E95CE9 100%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 12px;
  /* Caption/Caption 1 */
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 2.24px;
  text-transform: uppercase;
}
.cicle_opinions__main .cicle_opinions__main_info p {
  color: var(--Greyscale-White, #FFF);
  text-align: center;
  /* Heading/Heading 2 */
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: 58px; /* 120.833% */
  letter-spacing: -0.24px;
}
.cicle_opinions__main .cicle_one {
  border: 1px solid rgba(255, 255, 255, 0.17);
  display: flex;
  align-items: center;
  margin: 30px;
  position: relative;
}
.cicle_opinions__main .person_elem {
  position: absolute;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 388px;
  height: 123px;
  z-index: 5;
}
.cicle_opinions__main .cicle_opinions__person_one {
  top: 297px;
  left: 23px;
}
.cicle_opinions__main .cicle_opinions__person_two {
  top: 921px;
  left: 939px;
}
.cicle_opinions__main .cicle_opinions__person_three {
  top: 780px;
  left: 115px;
}
.cicle_opinions__main .cicle_opinions__person_four {
  top: 332px;
  left: 766px;
}
.cicle_opinions__main .cicle_opinions__person_five {
  top: 2px;
  left: 442px;
}
.cicle_opinions__main .cicle_opinions__person_six {
  top: 400px;
  left: 176px;
}
.cicle_opinions__main .cicle_opinions__person {
  background-image: var(--bg-icon);
  background-repeat: no-repeat;
  transition: all 0.6s ease;
  width: 75px;
  height: 75px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.cicle_opinions__main .cicle_opinions__person_main_info {
  opacity: 0;
  background-image: var(--bg-for-text);
  background-repeat: no-repeat;
  width: 0;
  height: 0;
  margin-left: 15px;
}
.cicle_opinions__main .cicle_opinions__person_info {
  margin: 16px 10px 5px 26px;
}
.cicle_opinions__main .cicle_opinions__person_text {
  color: var(--grey-2);
  width: 255px;
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0;
  text-align: left;
}
.cicle_opinions__main .cicle_opinions__person_details {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid;
  width: 134px;
  border-image: var(--linear) 1;
}
.cicle_opinions__main .cicle_opinions__person_details p {
  font-size: 12px;
  font-weight: 400;
  line-height: 24px;
  color: var(--white);
}
.cicle_opinions__main .cicle_opinions__person_details :last-child {
  color: var(--grey-2);
}
.cicle_opinions__main .person_elem:hover .cicle_opinions__person_main_info {
  opacity: 1;
  width: 297px;
  height: 123px;
  transition: opacity 1s;
}
.cicle_opinions__main .person_elem:hover .cicle_opinions__person {
  background-image: var(--bg-icon-active);
  background-repeat: no-repeat;
  transition: all 0.6s ease;
}
.cicle_opinions__main .cicle_opinions__cicle_one {
  border-radius: 1147px;
  width: 1147px;
  height: 1147px;
}
.cicle_opinions__main .cicle_opinions__cicle_two {
  border-radius: 984px;
  width: 984px;
  height: 984px;
  margin: 82px 81px 81px 82px;
}
.cicle_opinions__main .cicle_opinions__cicle_three {
  border-radius: 799px;
  width: 799px;
  height: 799px;
  margin: 92px 92px 93px 93px;
}
.cicle_opinions__main .cicle_opinions__cicle_four {
  border-radius: 636.102px;
  width: 636.102px;
  height: 636.102px;
  margin: 86px 87px 86px 85px;
}
.cicle_opinions__main .cicle_opinions__cicle_five {
  border-radius: 464.631px;
  width: 464.631px;
  height: 464.631px;
  margin: 82px 83px 82px 82px;
}
.cicle_opinions__main .cicle_opinions__cicle_six {
  width: 289.485px;
  height: 289.485px;
  border-radius: 289.485px;
  border: 1px solid rgba(255, 255, 255, 0.17);
  background: #333751;
  margin: 88px 86px 87px 89px;
  position: relative;
}
.cicle_opinions__main .cicle_opinions__cicle_six .cicle_opinions__big_img {
  width: 743px;
  height: 483px;
}
.cicle_opinions__main .cicle_opinions__cicle_six .cicle_opinions__big_img img {
  max-width: 810px;
  position: relative;
  right: 230px;
  bottom: 30px;
}

.our_pricing {
  margin: 95px 0 95px 0;
}
.our_pricing .our_pricing__main_info h5 {
  line-height: 21px;
  letter-spacing: 0.14em;
  text-align: left;
  width: 130px;
  background: var(--Main-Colors-Linear, linear-gradient(90deg, #0CBAF1 0%, #E95CE9 100%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 12px;
  /* Caption/Caption 1 */
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  text-transform: uppercase;
}
.our_pricing .our_pricing__main_info .our_pricing__main_info_title {
  color: var(--white);
  margin-bottom: 12px;
  font-size: 48px;
  font-weight: 600;
  line-height: 58px;
  letter-spacing: -0.005em;
  text-align: left;
}
.our_pricing .our_pricing__main_info .our_pricing__main_info_text {
  color: var(--grey-2);
  width: 625px;
  margin-bottom: 36px;
  font-size: 16px;
  font-weight: 300;
  line-height: 28px;
  letter-spacing: 0;
  text-align: left;
}

.our_pricing__table {
  display: flex;
  width: 1200px;
  background: linear-gradient(0deg, rgba(37, 37, 50, 0.81), rgba(37, 37, 50, 0.81)), linear-gradient(94.92deg, rgba(255, 255, 255, 0.3) -0.29%, rgba(255, 255, 255, 0) 100%);
  border: 2px solid;
  border-image-source: linear-gradient(94.92deg, rgba(255, 255, 255, 0.3) -0.29%, rgba(255, 255, 255, 0) 100%);
}
.our_pricing__table .our_pricing__table_main {
  margin: 60px 60px 30px 50px;
}

.our_pricing__table_info {
  display: flex;
  justify-content: space-between;
  width: 640px;
  margin-bottom: 28px;
}
.our_pricing__table_info h6 {
  color: var(--white);
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0;
  text-align: left;
}
.our_pricing__table_info p {
  color: var(--grey-1);
  width: 582px;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0;
  text-align: left;
}

.our_pricing__table_line {
  height: 447px;
  opacity: 10%;
  border: 1px solid var(--white);
  margin-top: 50px;
}

.our_pricing__offer {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  top: 414px;
  right: 90px;
  width: 321px;
  height: 222px;
  border: 1px solid;
  border-image: linear-gradient(90deg, #0CBAF1 0%, #E95CE9 100%) 1;
  background: linear-gradient(0deg, #252532, #252532), linear-gradient(90deg, #0CBAF1 0%, #E95CE9 100%);
}
.our_pricing__offer .our_pricing__offer_title {
  color: var(--grey-2);
  margin-top: 16px;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0;
  text-align: left;
}
.our_pricing__offer .our_pricing__offer_price {
  color: var(--white);
  font-size: 60px;
  font-weight: 600;
  line-height: 66px;
  letter-spacing: 0;
  text-align: left;
}
.our_pricing__offer .our_pricing__offer_button {
  margin: 14px 0 16px 0;
  color: var(--white);
  text-transform: uppercase;
  padding: 18px 34px;
  font-size: 14px;
  font-weight: 700;
  line-height: 14px;
  letter-spacing: 1.5px;
  text-align: center;
  background: var(--linear);
}
.our_pricing__offer .our_pricing__offer_details {
  color: var(--grey-1);
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
}

.our_partners {
  margin-top: 60px;
  position: relative;
}
.our_partners .our_partners__main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.our_partners .our_partners__main_info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 68px;
}
.our_partners .our_partners__main_info h5 {
  line-height: 21px;
  letter-spacing: 0.14em;
  text-align: left;
  background: var(--Main-Colors-Linear, linear-gradient(90deg, #0CBAF1 0%, #E95CE9 100%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 12px;
  /* Caption/Caption 1 */
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  text-transform: uppercase;
}
.our_partners .our_partners__main_info p {
  color: var(--white);
  margin-bottom: 12px;
  font-size: 48px;
  font-weight: 600;
  line-height: 58px;
  letter-spacing: -0.005em;
  text-align: left;
}
.our_partners .our_partners__partners {
  position: absolute;
  z-index: 9;
  top: 200px;
}
.our_partners .our_partners__two {
  display: flex;
  width: 680px;
  justify-content: space-between;
  margin-bottom: 50px;
}
.our_partners .our_partners__three {
  display: flex;
  width: 960px;
  justify-content: space-between;
  margin-bottom: 50px;
}
.our_partners .our_partners__four {
  display: flex;
  width: 1070px;
  justify-content: space-between;
}
.our_partners .our_partners__main_content {
  width: 1147px;
  height: 1147px;
}
.our_partners .our_partners__main_content .cicle_partners {
  border: 1px solid rgba(255, 255, 255, 0.17);
  display: flex;
  align-items: center;
}
.our_partners .our_partners__main_content .our_partners__cicle_one {
  border-radius: 1147px;
  width: 1147px;
  height: 1147px;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.our_partners .our_partners__main_content .our_partners__cicle_two {
  border-radius: 984px;
  background-image: linear-gradient(var(--black-100), var(--black-100)), linear-gradient(90deg, #0CBAF1 0%, rgba(233, 92, 233, 0.98) 100%);
  background-origin: border-box;
  background-clip: content-box, border-box;
  width: 984px;
  height: 984px;
  margin: 82px 81px 81px 82px;
}
.our_partners .our_partners__main_content .our_partners__cicle_three {
  border-radius: 799px 799px 0 0;
  -moz-border-radius-bottomleft: 300px;
  width: 799px;
  height: 799px;
  margin: 92px 92px 93px 93px;
}
.our_partners .our_partners__main_content .our_partners__cicle_four {
  border-radius: 636.102px;
  width: 636.102px;
  height: 636.102px;
  margin: 86px 87px 86px 85px;
  display: flex;
  flex-direction: column;
}
.our_partners .our_partners__main_content .our_partners__big_img img {
  max-width: 1228px;
  position: relative;
  bottom: 30px;
  left: 30px;
  z-index: 3;
}

.our_partners__bg_style {
  background: linear-gradient(rgba(24, 24, 27, 0), rgb(24, 24, 27), rgb(24, 24, 27), rgb(24, 24, 27), rgb(24, 24, 27), rgb(24, 24, 27), rgb(24, 24, 27), rgb(24, 24, 27), rgb(24, 24, 27), rgb(24, 24, 27));
  width: 1200px;
  height: 730px;
  border-radius: 50px 50px 0 0;
  position: relative;
  bottom: 720px;
}

.our_partners__partners {
  width: 1200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  z-index: 3;
}

.our_partners__partners_bg {
  background-image: var(--bg-icon);
  background-repeat: no-repeat;
  background-size: contain;
  transition: all 0.6s ease;
  width: 102px;
  height: 102px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.our_partners__partners_bg img {
  width: 72px;
}

.our_articles {
  margin-bottom: 240px;
}
.our_articles .our_articles__main_one {
  display: flex;
  align-items: flex-end;
  margin-bottom: 140px;
}
.our_articles .our_articles__main_info h5 {
  width: 143px;
  font-size: 16px;
  font-weight: 500;
  line-height: 21px;
  letter-spacing: 0.14em;
  text-align: left;
  background: var(--Main-Colors-Linear, linear-gradient(90deg, #0CBAF1 0%, #E95CE9 100%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 12px;
}
.our_articles .our_articles__main_info p {
  width: 882px;
  font-size: 48px;
  font-weight: 600;
  line-height: 58px;
  letter-spacing: -0.005em;
  text-align: left;
  color: var(--white);
}
.our_articles .our_articles__main_button {
  margin-left: 210px;
  width: 148px;
  height: 50px;
  display: flex;
  align-items: flex-start;
  border: 1px solid transparent;
  border-image: linear-gradient(#0CBAF1, #E95CE9) 1;
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.06), rgba(255, 255, 255, 0.06));
}
.our_articles .our_articles__main_button button {
  color: var(--white);
  text-transform: uppercase;
  font-style: normal;
  font-size: 14px;
  font-weight: 700;
  line-height: 14px;
  letter-spacing: 1.5px;
  text-align: center;
  padding: 18px 38px;
}
.our_articles .our_articles__main_two {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  position: relative;
}
.our_articles .our_articles__main_carousel {
  z-index: 5;
}
.our_articles .our_articles__main_carousel h6 {
  color: var(--white);
  width: 203px;
  margin-bottom: 32px;
  font-size: 28px;
  font-weight: 600;
  line-height: 36px;
  letter-spacing: -0.005em;
  text-align: left;
}
.our_articles .our_articles__main_carousel .our_articles__carousel_content {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 0 0 24px 24px;
  color: #fff;
  background-image: var(--bg-our-articles-carousel);
  background-repeat: no-repeat;
  width: 636px;
  height: 425px;
}
.our_articles .our_articles__main_carousel .our_articles__carousel_content_title {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 96px;
  height: 24px;
  border-radius: 16px;
  background: rgba(255, 255, 255, 0.3019607843);
}
.our_articles .our_articles__main_carousel .our_articles__carousel_content_title p {
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  text-align: center;
  padding: 8px 10px 8px 10px;
  letter-spacing: 0;
}
.our_articles .our_articles__main_carousel .our_articles__carousel_content_text p {
  color: var(--white);
  width: 509px;
  font-size: 32px;
  font-weight: 600;
  line-height: 42px;
  letter-spacing: -0.005em;
  text-align: left;
}
.our_articles .our_articles__main_carousel .our_articles__carousel_arrow {
  position: absolute;
  z-index: 5;
  bottom: 53px;
  left: 560px;
  width: 50px;
  height: 50px;
  padding: 17px;
  border: 1px solid transparent;
  border-image: linear-gradient(90deg, #0CBAF1 0%, #E95CE9 100%) 1;
  background-image: linear-gradient(0deg, rgba(255, 255, 255, 0.06), rgba(255, 255, 255, 0.06));
}
.our_articles .our_articles__scroll_main {
  position: relative;
  z-index: 1;
  right: 34px;
  bottom: 49px;
  width: 750px;
  height: 605px;
  background: linear-gradient(0deg, #252532, #252532), linear-gradient(94.92deg, rgba(255, 255, 255, 0.3) -0.29%, rgba(255, 255, 255, 0) 100%);
  border: 1px solid;
  border-image-source: linear-gradient(94.92deg, rgba(255, 255, 255, 0.3) -0.29%, rgba(255, 255, 255, 0) 100%);
  display: flex;
  flex-direction: column;
}
.our_articles .our_articles__scroll_main .our_articles__scroll {
  margin: 30px 0 0 90px;
}
.our_articles .our_articles__scroll_main .our_articles__scroll_title {
  width: 196px;
  color: var(--white);
  margin-bottom: 16px;
  font-size: 28px;
  font-weight: 600;
  line-height: 36px;
  letter-spacing: -0.005em;
  text-align: left;
}
.our_articles .our_articles__scroll_main .our_articles__scroll_list {
  width: 573px;
  height: 504px;
  overflow: auto;
}
.our_articles .our_articles__scroll_main ::-webkit-scrollbar {
  width: 2px;
  height: 474px;
  border-radius: 32px;
}
.our_articles .our_articles__scroll_main ::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.1215686275);
}
.our_articles .our_articles__scroll_main ::-webkit-scrollbar-thumb {
  background: #FFFFFF;
  width: 2px;
  height: 31px;
}
.our_articles .our_articles__scroll_main .our_articles__scroll_item {
  width: 513px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 34px 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1490196078);
}
.our_articles .our_articles__scroll_main .our_articles__scroll_item .our_articles__scroll_img {
  width: 142px;
  height: 91px;
}
.our_articles .our_articles__scroll_main .our_articles__scroll_item .our_articles__scroll_info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 297px;
}
.our_articles .our_articles__scroll_main .our_articles__scroll_item .our_articles__scroll_info p:first-child {
  padding: 2px 10px 2px 10px;
  margin-bottom: 9px;
  border-radius: 16px;
  background: rgba(255, 255, 255, 0.3019607843);
  color: var(--white);
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0;
  text-align: center;
}
.our_articles .our_articles__scroll_main .our_articles__scroll_item .our_articles__scroll_info p:last-child {
  color: var(--white);
  width: 297px;
  -webkit-line-clamp: 2; /* Число отображаемых строк */
  display: -webkit-box; /* Включаем флексбоксы */
  -webkit-box-orient: vertical; /* Вертикальная ориентация */
  overflow: hidden;
  font-size: 18px;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0;
  text-align: left;
}
.our_articles .our_articles__scroll_main .our_articles__scroll_item .our_articles__scroll_btn button {
  width: 40px;
  height: 40px;
  padding: 13px;
  border: 1px solid transparent;
  border-image: linear-gradient(90deg, #0CBAF1 0%, #E95CE9 100%) 1;
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.06), rgba(255, 255, 255, 0.06));
}
.our_articles .slick-slider {
  width: 636px;
  height: 425px;
}
.our_articles .ant-carousel .slick-dots {
  position: relative;
  margin-top: 42px;
}

.footer__banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1400px;
  height: 185px;
  border-radius: 4px;
  background-image: linear-gradient(90deg, #0CBAF1 0%, #E95CE9 100%);
  padding: 0 70px;
  margin-bottom: 160px;
}
.footer__banner p {
  width: 590px;
  height: 116px;
  color: var(--white);
  font-size: 40px;
  font-weight: 600;
  line-height: 58px;
  letter-spacing: -0.005em;
  text-align: left;
}
.footer__banner .footer__subscribe_input_main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 365px;
  height: 56px;
  border-radius: 2px;
  background: rgba(255, 255, 255, 0.0705882353);
}
.footer__banner .footer__subscribe_input {
  display: flex;
  align-items: center;
  flex-direction: row;
  margin-left: 14px;
}
.footer__banner .footer__subscribe_input ::placeholder {
  color: var(--white);
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  text-align: left;
}
.footer__banner .footer__subscribe_input input {
  color: var(--white);
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  padding: 2px 0 0 12px;
  width: 214px;
}
.footer__banner .footer__subscribe_button {
  width: 49px;
  height: 49px;
  padding: 16px;
  background: rgba(255, 255, 255, 0.2117647059);
}
.footer__banner .footer__subscribe_icon {
  width: 72px;
  height: 72px;
  background-image: var(--bg-icon-send-btn);
  background-repeat: no-repeat;
  background-position: center;
}
.footer__banner .footer__main {
  display: flex;
  flex-direction: column;
}

.footer__main_info {
  display: flex;
  flex-direction: row;
  gap: 48px;
  margin-bottom: 60px;
}
.footer__main_info .footer__main_info__icons {
  display: flex;
  flex-direction: column;
  margin-right: 180px;
}
.footer__main_info .footer__main_info__icons_group {
  display: flex;
  flex-direction: row;
  gap: 20px;
  margin-top: 148px;
  width: 244px;
}
.footer__main_info .footer__main_info__icons_group div {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: var(--bg-icon-footer);
  width: 46px;
  height: 46px;
}
.footer__main_info .footer__main_info__links {
  display: flex;
  flex-direction: column;
  margin-right: 160px;
}
.footer__main_info .footer__main_info__links p {
  width: 89px;
  color: var(--white);
  font-size: 16px;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: 0;
  text-align: left;
}
.footer__main_info .footer__main_info__links a {
  padding-top: 20px;
  color: var(--white);
  font-size: 16px;
  font-weight: 300;
  line-height: 28px;
  letter-spacing: 0;
  text-align: left;
}
.footer__main_info .footer__main_info__help a {
  display: flex;
  align-items: center;
}
.footer__main_info .footer__main_info__help a img {
  padding-right: 10px;
}

.footer__copyright {
  width: 1200px;
  border-top: 1px solid transparent;
  border-image: linear-gradient(90deg, #0CBAF1 0%, #E95CE9 100%) 1;
  display: flex;
  justify-content: center;
  padding: 30px 0;
}
.footer__copyright p {
  color: var(--white);
  font-size: 16px;
  font-weight: 300;
  line-height: 28px;
  letter-spacing: 0;
  text-align: left;
}

/*# sourceMappingURL=main.css.map */
